[2016-05-04 10:31] lapd-viosoft opened #6 "Low performance with OpenNetVM"
Hi all,
I'm trying to do performance evaluation with OpenNetVM with simple application (examples/bridge). The test is RFC2544 throughput testing. However the result (Zero-Loss point) is quite low for small packet size(compare to l2fwd-dpdk example)

| Packet size(bytes)       | OpenNetVM-Bridge app(% of 10GbE)           | Intel DPDK-L2FWD app(% of 10GbE)  |
| ------------- |:-------------:| -----:

[2016-05-05 06:45] lapd-viosoft commented on #6
Hi all,
Checking more log by calling rte_eth_stats_get(port_id, &eth_stats) I can see the received error packet stats:

[code]
[code]
All packets sent by traffic generator are the same format.
Is there a case that the OpenNetVM Manager process is not fast enough to receive packets, packets are marked as error?
Lapd

[2016-05-05 07:32] lapd-viosoft commented on #6
Hi all,
I'm able to get high results now after
- Add one more core for RX on onvm_mgr/init.h
- Increase RX/TX and Ring buffer size onvm_mgr/init.c
#define RTE_MP_RX_DESC_DEFAULT 2048
#define RTE_MP_TX_DESC_DEFAULT 2048
#define CLIENT_QUEUE_RINGSIZE 2048
Lapd

[2016-05-05 07:32] #6 closed

[2016-05-05 11:57] twood02 commented on #6
@lapd-viosoft yes, that is the right approach. We will be updating the docs with this kind of tuning advice.

[2016-11-14 00:35] adilahmad17 opened #8 "Help with packetgen"
Hi,

I was getting errors when trying to use the packetgen instead of the provided speed-tester app to measure throughput. Can someone please add a readme with a simple example illustrating how that will work?

Thanks,
Adil

[2016-11-14 01:51] sameergk commented on #8
Hi Adil,
What is your setup? Are you trying to run the packet-gen on the same node as that of OpenNetVM?
I don't think it is possible to run OpenNetVM-Manager and Packetgen on the same nodes, but you can run them on two different nodes that are connected with each other.
Let me know, if you run into any issues running packetgen and openNetVM on two different nodes.

[2016-11-14 16:37] nks5295 commented on #8
[This document](https://github.com/sdnfv/openNetVM/blob/master/docs/pktgen.md) walks through setting up and using Pktgen.

Pktgen must be ran on a different machine from ONVM.  For example, hostA runs ONVM and hostB runs Pktgen.

The Speed Tester NF is not to be used with Pktgen, instead, try using the Basic Monitor NF.

[2016-11-14 18:26] adilahmad17 commented on #8
Oh, I was using the same node to run the packetgen. Let me try with a different node. Thanks for sharing that document. I'll tell you guys if I run into problems.

Thanks!

[2016-12-17 07:58] Zhengzl15 opened #9 "Problems when running example NF test_flow_dir"
Hi,

I was getting problems when trying to run NF test_flow_dir.

When sending packets to openNetVM, this NF outputs nothing but crashed(even no any error prompts). And I found that `tbl_index = rte_hash_lookup_with_hash(table->hash, (const void *)&key, pkt->hash.rss);` in `int onvm_ft_lookup_pkt(...)` works wrong. But why? Is it some special mechanism of rte_hash in DPDK or bug of openNetVM?

Can

[2016-12-17 13:15] twood02 commented on #9
What version of DPDK are you using? Did you get DPDK yourself, or are you using the version that gets put in git sub module if you follow our install instructions.

This sounds like a bug that we've seen caused in older versions of DPDK which do not correctly support hash tables in multi process programs (which ONVM requires). The recent versions of DPDK are supposed to have patched this (untested

[2016-12-17 13:16] twood02 commented on #8
I'll close this issue, but if you have more issues let us know.

[2016-12-17 13:16] #8 closed

[2016-12-17 13:22] Zhengzl15 commented on #9
Hi,

I am using the version that gets from git sub module, which follows the installation document(it should be v2.2.0). Is it the correct version?

[2016-12-17 14:00] twood02 commented on #9
yes, I think that is the right version.  How are you sending packets? (real traffic? pktgen?)

[2016-12-17 14:14] Zhengzl15 commented on #9
I used pktgen to generate packets. `onvm_flow_dir_get_pkt()` works correctly in `onvm_pkt_process_rx_batch()`, however it cannot lookup any key in a NF.

[2016-12-17 14:26] twood02 commented on #9
The flow director matches packets by looking at the IP and TCP headers, so the traffic you are generating with pktgen may be missing the fields needed to be considered a flow.  That should result in all of the packets getting matched to the default flow / default service chain.

In general, the flow director (and this example) are only intended for use with standard TCP flows.  I'm not sure why it

[2016-12-17 15:14] Zhengzl15 commented on #9
Factly, I initialized "ft" with a key(an ipv4_5tuple header) and entry. The key is the 5 tuple header of packets pktgen generates. And `onvm_flow_dir_get_pkt ()` in onvm_mgr can get the entry with incoming packets instead of the default service chain(**Debugging with printf()**). Also, it can get correct entry when calling `onvm_flow_dir_get_pkt ()` in `init()` after adding the key and entry.

Mor

[2016-12-18 03:08] Zhengzl15 commented on #9
Hi,

I replaced the default DPDK version in your repo with the latest official release(v16.11), then the problem went away.

Thanks for your kind help!

[2017-01-25 12:32] #9 closed

[2017-03-06 09:39] gurkanwal opened #13 "Query: usage with KVM?"
Hi all,

Can the current setup designed for containers be extended for inter-VM communication using KVM?

Thanks and Regards,
Gurkanwal Singh

[2017-03-08 04:12] twood02 commented on #13
ONVM relies on DPDK's multi-process support: http://dpdk.org/doc/guides-16.07/prog_guide/multi_proc_support.html

That works across containers (as long as huge pages are set up appropriately), but as far as I know there is no support for KVM.

Our [original NetVM](https://www.usenix.org/node/179740) prototype used KVM, so it is possible to do, but rather inconvenient because of the difficulty shar

[2017-03-22 17:13] #13 closed

[2017-04-13 10:30] banmoy opened #14 "NetVM based on KVM"
Hi, would it be possible to release the version based on KVM?

[2017-07-20 16:18] twood02 commented on #14
No, this is not something we are planning to work on.  Our original NetVM project (see NSDI 2014 paper) used KVM, however, using containers for OpenNetVM simplifies providing shared memory between NFs.  Since OpenNetVM uses shared memory for fast service chaining this is very important.

[2017-07-20 16:18] #14 closed

[2017-07-20 16:50] twood02 opened #15 "ONVM installation issues - mount huge pages"
I hit a couple issues when installing ONVM on a cloudlab server.

First, the instructions don't tell us to configure `ONVM_HOME` (it is mentioned under troubleshooting in the install guide, but it should be one of the steps at the top).  This should be an easy fix.

 - [x] **TODO:** Update install docs to mention ONVM_HOME at the top.

I ran the install script and got the "ONVM INSTALL COMPLETED S

[2017-07-20 17:11] rskennedy commented on #15
It seems as if this line is missing a $:
https://github.com/sdnfv/openNetVM/blob/master/scripts/install.sh#L110

Maybe that's why it doesn't mount huge pages automatically?

[2017-07-20 17:17] twood02 commented on #15
Nice catch, that is probably the issue.  Can you or @pcodes make a fix?

[2017-07-20 17:19] rskennedy commented on #15
Sure! I can do it.

[2017-07-25 08:39] nks5295 commented on #15
Closed by #16

[2017-07-25 08:39] #15 closed

[2017-09-24 04:43] Wasdns opened #17 "EAL: invalid coremask"
Hello, all.

I'm trying to fulfill Pktgen to test the performance of openNetVM, however, something unexpected occurred. How could I resolve this problem?

## Steps to reproduce error:

All the following steps are based on [Pktgen Installation](https://github.com/sdnfv/openNetVM/tree/master/tools/Pktgen#pktgen-installation).

1.binding 2*100Mbps network adapter to the dpdk, using the script named `

[2017-09-24 14:39] koolzz commented on #17
Hi,

It looks like pktgen can't use some core that is given to it. This can be solved by changing the `-c coremask ` argument in the `run-pktgen.sh`

It's currently set to `-c ffff` but this won't work for all cpu architectures. See which cores you have available and modify the coremask arg.

[2017-09-25 01:50] Wasdns commented on #17
@koolzz
Hello. Thank you for your answer. I have changed the arguments in `run-pktgen.sh` and resolved the abovementioned problem. However, I got another problem:

[code]

Exactly, when I run `sudo ./app/app/x86_64-native-linuxapp-gcc/pktgen -c 3 -n 1`, I got the same problem:

[code]

How could I resolve this kind of problem?

BTW, my target is to measure the individual OpenNetVM NF performance,

[2017-09-25 02:37] koolzz commented on #17
@Wasdns
It looks like the NIC ports are not bound to dpdk properly, you can run `sudo ./tools/dpdk_nic_bind.py --status` to check their bindings. Check the [troubleshooting](https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md#troubleshooting) section 2 for more information.

Also there is not need to use `dpdk-setup-iface.sh` script for Pktgen. That script is for applications such as on

[2017-09-25 02:46] koolzz commented on #17
@Wasdns
For testing you probably want 2 directly connected machines so that you can run Pktgen on one and onvm on the other. For single machine setups you can use the [speed_tester NF](https://github.com/sdnfv/openNetVM/blob/master/examples/speed_tester/README.md).

For multiple NFs you should look at [NF chains](https://github.com/sdnfv/openNetVM/blob/master/docs/Examples.md).

Its also important

[2017-09-25 03:08] Wasdns commented on #17
@koolzz
Many thanks! I would follow your advice and try again. 👍
Close this issue.

[2017-09-25 03:08] #17 closed

[2017-09-27 14:10] Wasdns opened #18 "Some remaining questions on running performance tests"
Hi, all. First, thank you for your great works!

Recently we are trying to test the performance of openNetVM SC on a commodity server. We have successfully built a simple service chain showed in [Linear NF Chain](https://github.com/sdnfv/openNetVM/blob/master/docs/Examples.md#linear-nf-chain) and planed to test the performance of this SC. In another PC, we established the DPDK environment and inst

[2017-09-27 21:21] koolzz commented on #18
Hi @Wasdns
Can you please provide the `sudo ./tools/dpdk_nic_bind.py --status` output. Maybe the NIC you're trying to use is not supported? Make sure the NICs are not blacklisted in the `run-pktgen.sh`

For part 2 if I understand you correctly the openNetVM machine will just forward incoming packets to the other machine, that can be done easily using our bridge NF. You could also chain more NFs if

[2017-09-28 07:55] Wasdns commented on #18
Hi, @koolzz Thank you for your answer.

-----

**"Can you please provide the `sudo ./tools/dpdk_nic_bind.py --status` output. Maybe the NIC you're trying to use is not supported? Make sure the NICs are not blacklisted in the `run-pktgen.sh`"**

-----

The output of `sudo ./tools/dpdk_nic_bind.py --status`:

[code]

The NICs are not in the blacklist of `run_pktgen.sh`.

-----

**"For part 2 if I un

[2017-09-28 19:07] koolzz commented on #18
Hi, @Wasdns
You won't see packets through wireshark when using DPDK NICs. You should see numbers in onvm_mgr and other NFs you have running.

How exactly are you running onvm_mgr?
Are your machines directly connected?

[2017-09-29 00:59] Wasdns commented on #18
Hello, @koolzz
Thank you for your explanations. Exactly, I strictly followed the instructions of openNetVM documents [here](https://github.com/sdnfv/openNetVM/blob/master/docs/Examples.md#linear-nf-chain). The command that I used to run openNetVM manager:

[code]

I don't know if we should start onvm_mgr with respect to [manager](https://github.com/sdnfv/openNetVM/tree/master/onvm#manager) instruc

[2017-09-29 01:07] koolzz commented on #18
@Wasdns
I see, the `./go.sh` script you're using expects port number argument.
The way you're running it is with ports disabled.

Try `$ ./onvm/go.sh 0,1,2,3,4 3 -s stdout` for 2 ports

[2017-09-29 01:35] Wasdns commented on #18
@koolzz

Thanks a lot. However, it occurs error when initialing the port 0. The error information like:

[code]

I tried to debug this bug but found nothing. The output of `./dpdk/tools/dpdk-devbind.py --status`:

[code]

I have used `setup_environment.sh` to initial the environment and freed enough hugepages. How to resolve this situation? Thanks a lot!

[2017-09-29 01:54] koolzz commented on #18
Looks like a hugepage issue, can you try the [hugepage fixes here](https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md#troubleshooting)

[2017-09-29 01:54] Wasdns commented on #18
**Additional:**

After rebooting, I tried to start onvm manager without binding the NIC ports to DPDK and it successfully started. However, the manager shows nothing received from the ports:

[code]

Moreover, the manager failed as soon as I rebinded these ports to DPDK.

[2017-09-29 02:15] Wasdns commented on #18
@koolzz
I have freed the hugepage and the output of `grep -i huge /proc/meminfo`:

[code]

And I tried the instructions of Troubleshooting:

   To fix this, please run `sudo rm -rf /mnt/huge/*` to remove all files that contain hugepage data.

The problem remained. I rebooted the machine and the same thing happened.

[2017-09-29 02:29] twood02 commented on #18
I think this is a NIC driver issue--if it will run without any ports configured that means the basic system (including huge pages) is working. If the Speed Tester example is working that is also a good sign.

Have you tested whether the basic DPDK examples work (e.g. L2fwd)? We have only tested OpenNetVM with Intel-based 10GB NICs. If the DPDK examples run, then you can try to look at how they ini

[2017-09-29 06:16] nks5295 commented on #18
I agree with @twood02.

@Wasdns I see two different NICs listed in your comments.  Can you check http://dpdk.org/doc/nics and make sure your NICs are supported by DPDK?

[2017-09-29 06:39] Wasdns commented on #18
@twood02 @nks5295 Thank you for your helps!

I create the same topologic as mentioned above. I have implemented the DPDK example "l2fwd" and used scapy to test. The test passed and both the packet receiver and the console which runs l2fwd could successfully reports the infomation, including the number of sent packets and received packets.

The first NIC list shows the NIC information of the server

[2017-10-13 01:09] Wasdns commented on #18
I don't resolve this problem currently on my server. I leverage another approach to run my experiments and I think I should close this issue. But I will report any process as soon as I try openNetVM. Thank you for your great efforts and kind helps!

[2017-10-13 01:09] #18 closed

[2017-10-17 12:50] asvcer opened #19 "rte_eth_dev_configure() exiting with code -22"
Hello, I encountered a problem when running onvm. When the program is initializing port 0, it always fail.

I think there must be something wrong with my configuration. Because when I run dpdk example -- distributor, it fails in initializing port 0, too. It shows that `ethdev port_id=0 nb_tx_queues=2 > 1`. It shows that my `port_conf` has `max_tx_queues=1`. Would you like to tell me what is the di

[2017-10-18 09:45] asvcer opened #20 "HugePages Free Problem"
After I run openNetVM, I try to execute command `grep -i 'huge' /proc/meminfo` and find `HugePages_Free` is `0`. How can I free these used hugepage memory? I can find nothing in `/mnt/huge/` directory.

Then, I allocate another 1024 hugepages and run dpdk's simplest example `helloworld`, I find `HugePage_Free` is 1022 which indicates that 2 pages is leaked by `helloworld`.

There must be something

[2017-10-25 05:53] wen131 commented on #20
I've suffer from the same problem, but I think it means DPDK handle the whole hugepages but didn't give it back to linux. Because I can still run a new DPDK application in that case.

[2017-10-25 11:48] twood02 commented on #20
Have you checked if there are still files left in your huge page directory? Sometimes if DPDK does not clean this up it will appear that huge pages are in use (but DPDK will reclaim them if you start it again).  If you are using our setup scripts, this will be in ` /mnt/huge`.  Try deleting any files leftover in that folder.

[2017-10-25 11:51] twood02 commented on #19
Since this only appears in virtual box, I suspect the NIC driver being exposed to DPDK has some compatibility issues. We haven't tested ONVM in such an environment so you'll have to check with DPDK users to see if they can help.

I will close this issue since it appears to be a DPDK not ONVM problem, but if you do fine a solution, please post it here so others can benefit!

[2017-10-25 11:51] #19 closed

[2017-10-25 13:30] asvcer commented on #19
Dear Tim,

Thank you for your reply. The NIC driver is okay. However, There only one ports on the driver while ONVM needs more than one ports. That is the cause.

Yours,
Shuo.

[2017-10-25 13:32] asvcer commented on #20
Dear Tim,

On Ubuntu16.04, the hugepage files during run time is located in `/dev/hugepages/` rather than `/mnt/huge`. That's the cause.

Yours,
Shuo.

[2017-10-25 13:32] #20 closed

[2017-10-26 07:41] asvcer opened #21 "How many ports should I use?"
Dear Tim,

Sorry for this stupid question as I am quite dumb. I see from the manual that I need to pass a portmask option to onvm manager. Like this:

[code]

From the `onvm_args.c`, I see that `parse_portmask()` function accepts 0 port situation and it just shows a warning message. Thus I try the following command:

[code]

The `ONVM Manager` starts normally. In this situation, I wonder how to tr

[2017-10-26 14:29] twood02 commented on #21
This depends what network functions you plan to run.  The port option controls which ports the ONVM manager will check for incoming packets.  If you specify 0, then ONVM will not check the NIC ports for incoming packets.  In this case the only way to have ONVM process any packets is to create them inside an NF.  For example, the Speed Tester NF creates a batch of packets and then forwards them to

[2017-10-27 12:23] asvcer commented on #21
Dear Tim,

Thank you for your reply. Have a good day!

Yours,
Shuo.

[2017-10-27 12:23] #21 closed

[2017-11-20 13:12] veim opened #22 "New version can't be compiled ?"
Hi, I find that the code is updated to v17.11, while install.md file is not. And "make" in onvm directory cannot make the project, with error:
`onvm_pkt.o: In function onvm_pkt_process_rx_batch:
onvm_pkt.c:(.text+0x97): undefined reference to onvm_pkt_enqueue_nf
`
So, place update the install.md file, or tell me how to compile the project, thank you very much!

[2017-11-20 14:20] veim commented on #22
I solved this problem. Remove "inline" in declaration/definition of `onvm_pkt_enqueue_nf` in "onvm_nflib/onvm_pkt_common.h/c", then "make" in onvm directory is ok.
But I don't know why...

[2017-11-20 17:30] twood02 commented on #22
Can you report what gcc and OS version you are using so we can help diagnose this? Sounds like a change in compiler default settings.

[2017-11-20 17:52] nks5295 commented on #22
Here is my OS/Compiler info in which building ONVM works:

GCC:

[code]

System:

[code]

Good catch to remove the `inline` there.  I think that the newer compiler versions are smart enough to detect that and cause an error.

[2017-11-20 18:27] rskennedy commented on #22
Submitted [pull request #23 ](https://github.com/sdnfv/openNetVM/pull/23) that addresses this issue.

[2017-11-21 02:03] veim commented on #22
Thank you for your quick response, here is my OS/Compiler info:
GCC:
`
gcc --version
gcc (Ubuntu 5.4.1-2ubuntu1~16.04) 5.4.1 20160904
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
`
OS:
`
uname -a
Linux node1 4.8.8 #1 SMP Fri Nov 18 15:55:08 CST

[2017-11-21 02:12] #22 closed

[2017-11-30 13:07] maqiufang opened #25 "openNetVM NF manager crashed when running with more than 15 NFs"
I know that in your onvm_commom.h file,there has a max NF limit ,the value is 16. I adjusted this value to 128 , then the NF manager got an error:
EAL: Error - exiting with code: 1
Cause: Cannot initialise port 0
but setting for 64 is OK for 15 NFs. Then the NF manager would get crashed with more NFs......
Also, I changed the value of NF_INFO_CACHE to 0 in file /onvm/onvm_msg/onvm_init.h,since the

[2018-01-07 21:53] twood02 commented on #25
If you are still getting errors after adjusting the macros, please reopen this issue and we will look into it.

[2018-01-07 21:53] #25 closed

[2018-03-11 16:58] Dogchamp opened #26 "Error Compiling DPDK During Install Process"
I was doing a clean install of ONVM, and encountered an error while running openNetVM/scripts/install.sh. This is the output:
[code]

[2018-03-11 17:11] Dogchamp commented on #26
Solved by installing libnuma.
```sudo apt-get install libnuma-dev```

[2018-03-11 17:11] #26 closed

[2018-03-16 06:52] jiaxingChen opened #27 "./onvm/go.sh 0,1,2,3 1 -s stdoutCause: Cannot initialise port 0"
According to openNetVM/docs/Install.md, **1-18 step is successful, But at 19 step Run openNetVM manager, there is a issue** (I git clone -b develop latest version)
`root@cjx:/home/cjx/openNetVM# ./onvm/go.sh 0,1,2,3 1 -s stdout

EAL: Detected 12 lcore(s)
EAL: Probing VFIO support...
EAL: PCI device 0000:04:00.0 on NUMA socket -1
EAL:   Invalid NUMA socket, default to 0
EAL:   probe driver: 8086:15

[2018-03-16 11:46] twood02 commented on #27
Can you test whether `./onvm/go.sh 0,1,2,3 0 -s stdout` starts correctly? This command sets the portmask to 0 so it will not try to use the NIC.

We have not tested on the e1000 driver. Are you able to run DPDK examples successfully?

[2018-03-18 04:33] jiaxingChen commented on #27
when  I run DPDK/examples/helloworld ,the result is:

[code]
then ./onvm/go.sh 0,1,2,3 0 -s stdout
[code]
then
[code]
result is
[code]

[2018-03-18 16:35] twood02 commented on #27
OK, it looks like it is running correctly without any NIC ports. There must be a conflict with your NIC driver and how ONVM sets up the ports.

The e1000 driver is listed as a supported NIC: http://dpdk.org/doc/nics but it has some limitations. Possibly this is interfering with how we setup NIC ports in ONVM.

You should verify that the DPDK examples that initialize the port (e.g., l2fwd) work cor

[2018-03-25 19:20] madhura-a opened #28 "Pktgen installation issue"
While running the command **sudo ./app/app/x86_64-native-linuxapp-gcc/pktgen -c 3 -n 1,** I am getting the following error.

Copyright (c) <2010-2017>, Intel Corporation. All rights reserved. Powered by DPDK
EAL: Detected 28 lcore(s)
EAL: No free hugepages reported in hugepages-1048576kB
EAL: Probing VFIO support...
EAL: VFIO support initialized
Lua 5.3.4  Copyright (C) 1994-2017 Lua.org, PUC-Rio

[2018-03-25 21:28] twood02 commented on #28
The key issue seems to be this line:
[code]
Have you used the DPDK scripts to setup 1 or more NICs to use the appropriate user space driver?

I don't think this is the issue you are facing, but other users should be aware that currently the ONVM `develop` branch uses an updated version of DPDK which is incompatible with the version of pktgen in our included submodule. We will resolve this shortly.

[2018-03-26 00:06] nks5295 commented on #28
The Pktgen submodule is now updated and is compatible with the DPDK version.  Please try updating your branch and rebuilding Pktgen. (After you have setup the NICs appropriately)

[2018-03-26 09:13] madhura-a commented on #28
I have used dpdk-devbind.py script to bind nic cards to dpdk. The output of the dpdk_nic_bind --status command looks like following.

Network devices using DPDK-compatible driver
============================================
0000:02:00.1 'NetXtreme BCM5719 Gigabit Ethernet PCIe' drv=uio_pci_generic unused=tg3,igb_uio
0000:02:00.2 'NetXtreme BCM5719 Gigabit Ethernet PCIe' drv=uio_pci_generic unused=

[2018-03-26 13:44] twood02 commented on #26
@Dogchamp -- if you have time today can you add this command to the install guide and make a PR?

[2018-03-26 14:01] twood02 commented on #28
That generally looks correct. You can try using the `igb_uio` driver instead of `uio_pci_generic`. I'm not sure what the difference is, but we use the first one.

If that still doesn't work, then it sounds like a DPDK / NIC support issue.  You can try asking on the DPDK or pktgen mailing lists/forums.

[2018-03-27 02:56] Dogchamp commented on #26
@twood02 done!

[2018-03-28 05:59] luzhang92 opened #29 "Git submodules problem"
when I use the comman
`git submodule update`
it appear the following problem:
`
fatal: reference is not a tree: 091bae1beaeedd572be794eb04566903ba10bbcf
Unable to checkout 'd862f7a09ebc321ec54f8a910bcd410f5c4b8376' in submodule path 'dpdk'
Unable to checkout '091bae1beaeedd572be794eb04566903ba10bbcf' in submodule path 'tools/Pktgen/pktgen-dpdk'
`
How can fix it?

[2018-03-29 23:30] twood02 commented on #29
This sounds like your submodules got off track from the main repo.  If you `git pull develop` and then `git submodule update` again do you still get the same error?

[2018-03-31 06:39] tulika-agrawal opened #30 "Regarding NIC information"
I want to ask a basic question. Actually, I'm facing some issue. So, I need some clearance about NIC.
1. Is it necessary to give 2 NICs to DPDK driver?
2. Is it necessary that NIC should be 10G?
Another question is related to CPU cores. I have 40 cores in my system, but when I'm checking the CPU architecture by the code corehelper.py, it is showing only 5 cores. So, how to allocate all the cores t

[2018-03-31 19:57] koolzz commented on #30
1. There is no need to bind both NICs to the DPDK driver
2. The NIC doesn't have to be 10G but it has to be [supported by dpdk](https://dpdk.org/doc/nics)

Also I'm not sure why corehelper.py is only showing 5 cores, have you disabled hyperthreading?  As long as you give every NF a separate core and use at least 3 cores for the manager then everything should run. Make sure not to assign a core to

[2018-04-02 10:35] tulika-agrawal commented on #30
Okay. Thanks a lot. And the script itself is disabling hyperthreading.

[2018-04-03 04:03] nks5295 commented on #30
The [setup_environment.sh](../blob/develop/scripts/setup_environment.sh) script should disable hyperthreading.

[2018-04-03 04:56] tulika-agrawal commented on #30
Yeah, it is disabling. Thanks a lot. Maybe, it is some architecture issue.

[2018-04-03 11:57] madhura-a commented on #27
What I have understood is OpenNetVM manager uses one transmit ring buffer and one receive ring buffer. But in the file https://github.com/sdnfv/openNetVM/blob/develop/onvm/onvm_mgr/onvm_init.c#L323, in the function init_port(), tx_rings variable is assigned with MAX_NFS(i.e 16). Why it is so ? If I assign tx_rings a value 1, then the command ./onvm/go.sh 0,1,2,3 1 -s stdout is working fine. (for e

[2018-04-03 17:37] twood02 commented on #27
yes, this seems like a bug in our code. The number of TX_rings should be based on the number of TX threads, not on the maximum number of NFs.

We will look into making this change permanent.

[2018-04-10 06:40] luzhang92 opened #31 "how to send packet"
I have a question about how to use the dpdk-pktgen and the dpdk:
how can I connect this two environment？because when I deploy the DPDK, I can't use the NIC to connect others and I can't get the ip address? How can I do?

[2018-04-10 12:55] twood02 commented on #31
The Pkt-gen documentation provides instructions on how to run it here:

http://pktgen-dpdk.readthedocs.io/en/latest/index.html

I'm not sure what you mean by "I can't use the NIC to connect others and I can't get the ip address".  If the NIC is set to use the DPDK userspace driver then it will not have an IP address. That is correct behavior.

If you need more help you can try asking on the DPDK m

[2018-04-10 12:56] twood02 commented on #29
If you are still having trouble with this please re-open the issue and let us know.

[2018-04-10 12:56] #29 closed

[2018-04-15 11:00] #30 closed

[2018-04-16 19:29] madhura-a opened #32 "Changes in the onvm_nflib.c file is not reflecting after make"
I have added some code in onvm_nflib.c file. After that I ran make command, it successfully generates onvm_nflib.o file. But updates are not reflected while running.

[2018-04-16 20:01] twood02 commented on #32
My guess is that you only rebuilt the manager or only the NF example, but you may need to rebuild both of them, since the nflib library is used by both.

I suggest running make clean in both, then build the manager first and your NF second.

*Please help us learn about who is using OpenNetVM by filling out this form: https://goo.gl/forms/oxcnGO45Kxq1Zyyi2*

[2018-04-16 20:18] madhura-a commented on #32
Thanks a lot Sir. make clean worked for me.

[2018-04-17 05:28] tulika-agrawal opened #33 "Need help to do some changes to implement NFP"
Hello Sir,

I have completed my set up of OpenNetVM. It is working fine. Now, I am trying to implement NFP(Network Function Parallelism) in it (OpenNetVM is base in that work). I have to convert service chains into Service graphs to run NFs in parallel. If you have any idea, can you please give some insight to do this? Where should I do necessary changes? It will be helpful for me.

[2018-04-18 05:25] brajeshumrao84 opened #34 "Error while setting up OpenNetVM"
Hello Sir,
I would like to setup OpenNetVM on my system.

**My system configuration is as follows:**
--------------------------------------------
brajesh@brajesh:~$ lscpu
Architecture:                x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:                  Little Endian
CPU(s):                        8
On-line CPU(s) list:      0-7
Thread(s) per core:     2
Core(s) per socket:

[2018-05-11 17:31] mdasari823 commented on #34
Hi, I am facing the same issue. I have my RTE_SDK path to dpdk though.

[2018-05-11 20:51] nks5295 commented on #34
The `igb_uio.ko` driver is built with DPDK.  That is DPDK's UIO driver that leverages the Linux UIO module.  DPDK needs this as it controls I/O from NICs from userspace.  Our utility scripts (`install.sh` and `setup_environment.sh`) describe the DPDK build process and `igb_uio.ko` installation process.

Can you please post the output of the following commands?
[code]

[2018-05-11 20:59] mdasari823 commented on #34
Hi Neel, thank you very much for your response. Please find the output of above commands.
![screenshot from 2018-05-11 16-57-30](https://user-images.githubusercontent.com/21373364/39946586-b36c9d26-553c-11e8-8a59-34ad032c345c.png)

[2018-05-14 14:18] twood02 commented on #33
I am going to close this issue.  If you have further questions you can re-open it.  If you have code you want to share back to the project, create a pull request!

[2018-05-14 14:18] #33 closed

[2018-05-14 16:00] tulika-agrawal commented on #33
Sure sir.
And I'm sorry, I forgot to close that issue.. Thanks a lot Sir

On Mon 14 May, 2018, 7:48 PM Tim Wood, <notifications@github.com> wrote:

[2018-05-17 12:39] luzhang92 opened #36 "error when use docker"
when I run the opennetvm's example in docker, it occurs the following problem: /openNetVM/examples/basic_monitor/build/app/monitor: error while loading shared libraries: libnuma.so.1: cannot open shared object file: No such file or directory

[2018-05-17 12:41] luzhang92 opened #37 "the cpu core ultilization"
When I run the openNetVM manager, it requires 4 cores. But when I use the command 'top', why I only see the manager occupy the cpu by 300%, not 400%

[2018-05-17 18:31] nks5295 commented on #37
ONVM's core usage looks like this: 1 core for initialization and then displaying stats, 1 core for Rx, and N cores for Tx.  We need at least 1 Tx core.

When the manager first starts up, the core for initialization and stats display will spin around 100%.  Once the manager is initialized and the core becomes solely for displaying stats, that thread becomes way less resource intensive and the core

[2018-05-17 18:31] #37 closed

[2018-05-17 18:37] nks5295 commented on #36
I'm facing the same problem on my setup.  Thanks for the catch - let me debug and see what I can come up with.

[2018-05-17 18:54] nks5295 commented on #36
The problem is that by default, the container deployed does not have libnuma-dev installed on it.  We updated DPDK version a while back and that introduced this dependency.  I will submit a fix for this shortly!

[2018-05-22 06:49] nks5295 commented on #36
Sorry for the late response -- but I have submitted #38 which is under review.  This will resolve your issues.

To summarize, the base Ubuntu 14.04 image did not have the dependencies needed to run the latest version of DPDK.  Our Docker script used to run containers under the Docker network "none".  That prevented users from running commands like `apt install ...` or anything that required a netw

[2018-05-25 06:57] madhura-a opened #39 "Pktgen is not starting on a machine with 6 cores"
Hello sir,
I am trying to run pktgen in a machine which has 6 cores. So I made changes in the file **run-pktgen.sh** by giving coremask as 003f. But pktgen is unable to transmit the packet. Is it because of cores or some other reason? NIC I am using is IC10 and is supported in dpdk.

[2018-05-25 14:44] twood02 commented on #39
We can't provide support for pktgen, but you can try posting in the DPDK mailing list.

You can try updating the version of pktgen. Some pktgen docs are here and may help: http://pktgen-dpdk.readthedocs.io/en/latest/getting_started.html

There are also other packet generators you can consider using such as: https://github.com/emmericp/MoonGen or https://trex-tgn.cisco.com/

[2018-05-25 14:44] #39 closed

[2018-05-28 03:46] brajeshumrao84 opened #40 "Execution of example's NFs faces some issues(problems)."
Hello sir,
When I execute flow table NF given in example. It faces following issues. Also, It faces similar issues with other NF's examples.

cloudcomp@cloudcomp:~/openNetVM/examples/flow_table$ ./go.sh 3,5,7 1
[sudo] password for cloudcomp:
Sorry, try again.
[sudo] password for cloudcomp:
EAL: Detected 16 lcore(s)
PANIC in rte_eal_config_attach():
Cannot open '/var/run/.rte_config' for rte_mem_co

[2018-05-29 01:40] twood02 commented on #40
Have you tried getting the basic DPDK applications to work? This looks like a DPDK or environment setup issue.  If DPDK doesn't run correctly, then neither will OpenNetVM.

Also be sure that you run the ONVM Manager before starting NFs, and we suggest starting with a simple NF like the speed_tester example.

[2018-05-29 03:00] luzhang92 opened #41 "Some problem about packet speed"
When I run the example application basic_monitor, the NF finish the function that send the packets it received out the system.
In my understanding, the packet receive through the port, then send to the basic_monitor's RX,then to the basic_monitor's TX, and lastly, send out through the NIC TX. But, when I run the application, I saw that, the basic_monitor's RX and TX are the same rate with about 14

[2018-05-29 13:00] twood02 commented on #41
The basic monitor NF is used to mirror packets back out the ports they arrive on.  For each packet it receives, the NF will swap the packet's src/dest MAC addresses and then send it back out the packet that it arrived on:

https://github.com/sdnfv/openNetVM/blob/develop/examples/basic_monitor/monitor.c#L160-L174

The behavior you are reporting sounds correct. The packets are arriving on the NIC RX

[2018-05-29 13:00] twood02 commented on #41
also, the numbers may be slightly different because of timing errors (the interval for NIC RX and NIC TX may be slightly different depending on OS scheduling, so they won't be identical)

[2018-05-30 04:32] luzhang92 commented on #41
hello professor, I also have a little problem, when I run two network NF, such as simple_forward as NF1 and basic_monitor as NF2, and the make the chain, NF1->NF2.
Now, I make a simple test, that I limit the cpu resource pinned to the NF1, such as 50% cpu to the NF1, and in this case, the NF1'rx drops some packets. I think it's normal, however, focus on the NF2(the cpu pinned with NF2 is 100% not

[2018-05-30 15:39] twood02 commented on #41
If you give NF1 50% CPU availability, it is becoming the bottleneck in your chain, and will reduce the rate of packets seen at NF2.

In addition, if NF1 has insufficient resources to process the arrival rate from the NIC, this will cause packets to be dropped when the NF's RX queue overflows.  We have seen some cases where excessive drops like this end up causing unexpectedly bad performance becau

[2018-05-31 07:16] luzhang92 commented on #41
yes, it's an interesting problem.
Sorry to bother you, I also have a question when I use the openNetVM.
I run several functions which one function with one container and specific core as NIC->NF1->NF2->NF3.. .
When I change the resource such as cpu utlization of the NF1, the NF1's rx will drop some packet( it's normal and I can understand). but I also saw the  NIC'tx or other NF's rx may drop pack

[2018-05-31 08:18] #36 closed

[2018-05-31 13:57] twood02 commented on #41
Here's an example:
[code]

That is the ideal case of what should happen.  If you are having mbuf pool size problems, then you might see this case:
[code]

However, ONVM is not really well designed for adjusting the CPU resources in this way. It assumes each thread can use polling and get 100% of the CPU.  You may be getting odd behavior because of this.  For example, if some of the DPDK code has l

[2018-05-31 16:51] twood02 opened #42 "Speed tester crashes if there are no free mbufs to allocate"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

If there are no free m

[2018-06-01 01:14] luzhang92 commented on #41
Thank you very much.
I will read and learn the paper and more about the NFV.

[2018-06-01 12:04] twood02 opened #43 "Limit number of TX queues created to prevent crash at startup"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

As described in #27, i

[2018-06-01 12:07] twood02 commented on #41
If you have further questions you can reopen this issue.

[2018-06-01 12:07] #41 closed

[2018-06-12 05:46] adityadhakal opened #44 "Message Passing between NFs"
How can I pass a message between two NFs?

I see there are two functions,

first one in onvm_mgr/onvm_nf.h

**int onvm_nf_send_msg(uint16_t dest, uint8_t msg_type, void *msg_data);**

and next one in onvm_nflib/onvm_nflib.h

**int onvm_nflib_handle_msg(struct onvm_nf_msg *msg);**

However, they seem to be apparatus for just ONVM manager to NF communication, how can I communicate between two NFs?

[2018-06-12 11:52] twood02 commented on #44
Those functions are only designed for sending/receiving messages between the manager and an NF. We currently do not have functions in place to support NF->NF messaging.

Here are two options to resolve this:

1) Have the sender NF create an mbuf packet and fill in the data you want to send in the packet payload. Set the recipient NF as the destination and use the To NF action to send to it. You mi

[2018-06-12 12:04] lilishan9248 opened #45 "Speed Tester - tx rate control"
Hi,

I have noticed that the new version of speed tester adds the function of latency measurement. Now, I want to measure the process latency of another NF using the speed tester, which sends some sample packets to the NF. However, the current speed tester NF repeatedly sending that batch of packets to itself or another NF.

So, how can I control the transition rate of speed tester? One way is to

[2018-06-12 12:31] twood02 commented on #45
Currently we do not have a way to generate packets at a configurable rate.   First, here is an explanation of how the speed tester works. It starts by [creating a batch of packets](https://github.com/sdnfv/openNetVM/blob/cbef28396538f434ee72932eb4ac3741190e4b2a/examples/speed_tester/speed_tester.c#L406) in its main function. It then sends these packets to a destination NF.  If you configure your N

[2018-06-12 12:38] twood02 commented on #45
Also, be aware that the way the speed tester records timing info is [by writing at the end of the packet](https://github.com/sdnfv/openNetVM/blob/cbef28396538f434ee72932eb4ac3741190e4b2a/examples/speed_tester/speed_tester.c#L262). This may cause problems with the NF you are trying to test.

[2018-06-12 12:46] lilishan9248 commented on #45
Another problem is the computing of the old_time in line https://github.com/sdnfv/openNetVM/blob/cbef28396538f434ee72932eb4ac3741190e4b2a/examples/speed_tester/speed_tester.c#L262

According to what I understand, the old_time is used to record the transmit time of the packet.
However, the function  rte_pktmbuf_mtod is used to obtain a macro that points to the pkt.

[2018-06-12 12:54] twood02 commented on #45
Yes, it assumes that space was allocated for this time stamp when the packet was first created by speed tester here: https://github.com/sdnfv/openNetVM/blob/cbef28396538f434ee72932eb4ac3741190e4b2a/examples/speed_tester/speed_tester.c#L434

[2018-06-12 12:58] lilishan9248 commented on #45
So, you mean that: when the packet was created, the space is allocated to the timestamp and the packet transmission time is recorded in this space? Right?
However, I have not noticed which line record the packet transmission time.

[2018-06-12 13:01] twood02 commented on #45
when it is created the timestamp is set to 0 (really it should be set to the current clock, but this just means the latency measurement in the first interval is wrong, after that it will be OK).

The timestamp is updated when the packet is next seen at line 267:
https://github.com/sdnfv/openNetVM/blob/cbef28396538f434ee72932eb4ac3741190e4b2a/examples/speed_tester/speed_tester.c#L262-L267

From the

[2018-06-12 13:05] twood02 opened #46 "Speed tester should be able to create 0 packets"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

Currently the speed te

[2018-06-12 13:06] lilishan9248 commented on #45
Got it. Thanks a lot!

[2018-06-12 15:50] adityadhakal commented on #44
Thank you Tim, 1 seems like the easiest way to send a message now.

[2018-06-12 15:50] #44 closed

[2018-06-20 10:46] lilishan9248 opened #47 "The new DPDK version 17.08 cannot use the binded NICs"
Hi,

The new version of openNetVM is based on dpdk version 17.08.
I have finished the installment of dpdk and binded NIC ports to DPDK. The NIC devices are Intel 82599.
However, I meet the following error when running the manager.

EAL: Detected 12 lcore(s)
EAL: No free hugepages reported in hugepages-1048576kB
EAL: Probing VFIO support...
EAL: PCI device 0000:82:00.0 on NUMA socket 1
EAL:   probe

[2018-06-20 12:12] #47 closed

[2018-06-20 12:39] twood02 commented on #47
If you have solved this on your own can you post your solution so that others who face the same issue can get help? (looks like either a huge page configuration issue or the NICs were not bound to DPDK correctly)

[2018-06-22 10:31] lilishan9248 commented on #47
I have solved this issue by reinstalling DPDK (version 17.08).
This issue is caused by DPDK, not openNetVM. The NICs were correctly bounded to DPDK.
I still know the real reason for the error.

[2018-06-22 10:45] lilishan9248 commented on #45
I have implemented the NF's latency measurement works by your above suggested method 1.
However, it is difficult to check which time the speed tester receives the packet? How to distinguish the first time and the second time?

[2018-06-24 05:59] #45 closed

[2018-07-25 17:14] mdsqzulkar9 opened #48 "Error in Linux Kernel version 4.16"
Hi,
I was trying to install openNetVM on an ubuntu server (Kernel 4.16). It installs properly in Kernel 4.4, however, I am getting the following errors (attached) on kernel 4.16.

I solved the first one related to UTS_UBUNTU_RELEASE_ABI.

It would be great if you could help me with the others. Thanks!

error log after running script: ./install.sh

[code]

[2018-07-31 14:57] twood02 commented on #48
This mainly looks like a DPDK problem (the errors are while building it, not ONVM). You may be able to get more help on the DPDK mailing list - http://mails.dpdk.org/listinfo

This also may be part of the code that MTCP modifies in DPDK - https://github.com/eunyoung14/mtcp

[2018-08-06 20:14] mdasari823 opened #49 "EAL: pthread_setaffinity_np failed"
DPDK is successfully installed and tested. But I am facing some problem while testing OpenNetVM. Any hints?

[code]

[2018-08-06 20:31] mdasari823 commented on #49
Aah, my bad. I was running it on a VM with only 2 cores. I will increase the cores and run. Thanks a lot.

[2018-08-06 20:43] #49 closed

[2018-08-23 18:59] twood02 opened #50 "web console script should serve onvm_web directory"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

When running the manag

[2018-09-08 19:00] madhura-a opened #51 "Manager crashes in the modified openNetVM code (supporting parallelism) for large number of packets"
Hi,
I have modified the openNetVM code to support parallelism. The code is working fine when a number of packets transmitted through the chain are low, say 100 or 1000. When I try to send more number of packets (more than 5000), manager crashes. I tried debugging the code, I found that the manager crashes while executing the function "onvm_pkt_flush_port_queue". Can you please tell me what could b

[2018-09-10 20:26] madhura-a commented on #51
Actually, In my code, I have defined my own metadata(64 bit) which includes fields like matchID, version, packetNumber. The next network function to which the packet has to be forwarded is decided by the constructed service graph. Is defining own metadata is causing the issue?

[2018-09-10 21:04] twood02 commented on #51
I don't know why that would cause the issue, but it depends where you are storing that data. If you are keeping it in the mbuf perhaps you overwrote some of dpdk's meta data?  ONVM uses the `userdata` field in the mbuf, so if you try to use that space too it will also cause a conflict.

[2018-09-11 02:49] madhura-a commented on #51
I have used `userdata` field only to define the metadata and I have commented out onvm metadata. Will it still cause a conflict?

[2018-09-11 12:40] twood02 commented on #51
This will break a lot of the existing code in the NF Manager TX threads and nflib -- the NFs use that space to specify what actions they want to happen next.  If you have rewritten this code to handle parallelism it may be OK.

We often find it simplest to evaluate these changes using artificial packets instead of real network traffic.  You might try verifying whether your parallelism code works c

[2018-09-15 04:07] madhura-a commented on #51
It is working fine now. Thank you for your response.

[2018-09-15 04:07] #51 closed

[2018-09-21 05:46] #42 closed

[2018-09-21 12:33] god14fei opened #53 "Code error in onvm_pkt_common.c"
In line 224 in function `onvm_pkt_flush_port_queue`,
`tx_stats = &(ports->tx_stats);` should be
`tx_stats = &(ports[port]->tx_stats);`

[2018-09-21 12:34] #53 closed

[2018-09-27 19:07] AaronCoplan opened #54 "Error when starting with -s web from wrong directory."
In the [Install Guide](https://github.com/sdnfv/openNetVM-dev/blob/develop/docs/Install.md) we suggest using the command `./onvm/go.sh 0,1,2,3 1 -s stdout` to start onvm.  However, if you replace `-s stdout` with `-s web`, we get the following error as parts of the web implementation are specific to the cwd. See attached screenshot for exact output.

<img width="826" alt="screen shot 2018-09-27 at

[2018-09-27 19:09] AaronCoplan commented on #54
@twood02 We could potentially label this as a good first issue.  This could potentially be good to assign to whoever ends up tackling #50.

[2018-10-24 18:32] rskennedy opened #67 "Google Style Guide Link is Broken"
**Problem**: The link to the google c++ style guide is broken in our [style doc](../blob/develop/style/styleguide.md).

**Solution**: It would be better to replace the reference at the bottom of `styleguide.md` to https://google.github.io/styleguide/cppguide.html.

[2018-10-27 15:18] twood02 commented on #40
I am closing this issue, but if you are still having problems, feel free to reopen it.

[2018-10-27 15:18] #40 closed

[2018-10-29 18:03] ratnadeepb commented on #46
It seems that making this change is trivial but due to the
packet_number? packet_number : MAX_PKT_NUM
test, the number of initial packets become 128 when -c is 0. I can change this, but have not figured the effect of this change yet. Can someone please provide some guidance?

[2018-10-29 18:20] twood02 commented on #46
Yes, you may have to change that logic. It is OK if you need to change some other aspects of the program.

[2018-11-04 21:57] hungry-foolish opened #58 "./examples/speed_tester/go.sh 5 1 1 -c 16000 stuck"
./examples/speed_tester/go.sh 5 1 1 -c 16000
This command will stuck at
"./examples/speed_tester/go.sh 5 1 1 -c 16000". is it a bug or a configuration error?

[2018-11-04 22:36] hungry-foolish commented on #58
Solved. The NF manager wasn't started.

[2018-11-04 22:36] #58 closed

[2018-11-08 18:49] #50 closed

[2018-11-08 18:49] #54 closed

[2018-11-08 19:00] #43 closed

[2018-11-08 19:00] #27 closed

[2018-11-16 16:13] twood02 commented on #46
This was resolved by #56

[2018-11-16 16:13] #46 closed

[2018-11-16 16:20] twood02 opened #60 "Service chaining example"
By default, OpenNetVM creates a default service chain with the action "send to NF with service ID 1".  However, when the manager starts it prints "Default service chain: send to sdn NF".  We should revise this comment to say "send to service ID 1"

https://github.com/sdnfv/openNetVM/blob/develop/onvm/onvm_mgr/onvm_init.c#L249

We also should create a new NF that demonstrates setting up different d

[2018-11-20 00:51] koolzz opened #61 "Env var check"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

We should add an `ONVM

[2018-11-20 02:03] twood02 commented on #61
This only becomes relevant once the 18.11 release changes get merged, but it will be a #good_first_issue after that.

[2018-12-04 15:23] twood02 opened #62 "Enable/Disable Flow table lookup for incoming packets"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

By default, ONVM does

[2018-12-06 10:22] harsh503 commented on #48
I also got the similar errors on ACCESS_ONCE and assignment of pointer. I tried a few things to get rid of them but could not.
Eventually, I downloaded dpdk-stable-18.02.2 version and replaced it with the dpdk folder in the openNetVM directory. The complete installation went smoothly.
Any comments on this?
Also, as I have a different version of DPDK, I can't solve any basic issues and generate PRs

[2018-12-06 12:32] twood02 commented on #48
Can you give us the exact kernel and DPDK versions you are using?

You should still be able to make PRs against this repository. The simplest way is to not commit the changes made to your DPDK folder so they won’t be included with your PR.

[2018-12-08 11:17] harsh503 commented on #48
Kernel Version : Output for "uname -r" : 4.15.0-34-generic
DPDK Version : dpdk-18.02.2
Tell me if you need anything else.

About PRs, I think that would work mostly assuming there are no error due to the different versions of DPDK. I will try that. Thanks.

[2018-12-08 12:48] twood02 commented on #62
The default should be the same as now - a flow lookup should happen.

[2018-12-08 14:15] harsh503 commented on #48
I also have another problem - I can get about NFs and rx/tx pps, etc. but cannot get PORTS details.
I'll attach images to make it clear. I have attached 2 screenshots. They are a result of the following 2 commands :-
1) ./onvm/go.sh 0,1,2 1 -s stdout
2) ./examples/speed_tester/go.sh 3 1 1 -c 16000
Is this the expected output? I guess the ports should be printed, which aren't. Any solution for this

[2018-12-08 15:16] twood02 commented on #48
You probably have not bound the NIC ports to DPDK.

Your command `./onvm/go.sh 0,1,2 1 -s stdout` says you are trying to use the first port.  Probably when the manager is loading it is giving you an error about a port not being accessible.

To fix this you need to use the devbind script to associate that port with DPDK. See https://github.com/sdnfv/openNetVM/blob/develop/docs/Install.md#troublesho

[2018-12-08 18:12] harsh503 commented on #48
Yes, it worked. Thank you :)

Anything on the part where I changed the DPDK directory?

[2018-12-17 13:10] omzmarlon opened #63 "How does openNetVM pull packets from NIC and send to an NF?"
Hi there,

I'm wondering after a NIC receives a packet from a remote host, how does ONVM decide which first NF to forward this packet to?

So for example, if I set up a chain that looks like: simple_forwarder -> basic_monitor, where I want simple_forwarder to be the "gateway" NF into my chain. How do I tell ONVM to send all the NIC packets to simple_forwarder instead of basic_monitor? (Or how does

[2018-12-17 13:39] twood02 commented on #63
When an RX thread receives a packet from the NIC it first does a flow table lookup to see if there is a rule for that specific flow.  If no rule is found, then the "default service chain" is applied.  The default chain is just "send to NF with service ID 1", but you could change this if you want.

This PR has some information related to this:
https://github.com/sdnfv/openNetVM/issues/62
We would l

[2018-12-17 13:40] koolzz commented on #63
Same answer as @twood02, with code links

When packets arrive from the NIC they are [received by an RX thread](https://github.com/sdnfv/openNetVM/blob/develop/onvm/onvm_mgr/main.c#L172). The destination for packets from the NIC is [based on the flow table lookup](https://github.com/sdnfv/openNetVM/blob/fcac247f2f6a8106480ca8d50a6b7b73e0c7f31e/onvm/onvm_mgr/onvm_pkt.c#L74:).
If a custom flowtable w

[2018-12-18 01:58] omzmarlon commented on #63
I see. Clears my confusion. Thanks!

[2018-12-18 01:58] #63 closed

[2018-12-19 00:03] lyuxiaosu opened #64 "OpenNetVM manager will crash if a NF's service id was assigned greater than or equal to 16"
To reproduce this bug, just start OpenNetVM manager and any NF with service id 16 or greater than 16, the manager will crash immediately.  The reason is the following:

The array of "mz_services" was allocated only 16 entries because currently we support 16(actually is 15, 0 is reserved) NFs. But when the NF send a NF_READY message to the manager with the service id, the manager will directly acce

[2018-12-19 00:15] koolzz commented on #64
@twood02 seems like a good first issue?

Its just adding a check for service id, probably here: https://github.com/sdnfv/openNetVM/blob/develop/onvm/onvm_mgr/onvm_nf.c#L185

[2018-12-19 00:17] koolzz commented on #64
@lyuxiaosu are you using the latest version of onvm? The bug is most likely still there but the
 MAX_SERVICES was increased to 32.

[2018-12-19 09:48] lyuxiaosu commented on #64
@koolzz Yes, I think I used the old version of onvm, so to reproduce this bug on the latest version, need to assign a service id with 32 or greater than 32. Thanks let me know.

[2019-01-28 22:31] dennisafa commented on #64
Shouldn't it be `if (nf_id >= MAX_SERVICES)` rather than `if (nf_id >= MAX_NFS)` if we'd like to avoid going past 32?

[2019-01-29 01:35] lyuxiaosu commented on #64
@dennisafa I think that won't resolve this problem because nf_id is the id of a NF, whose maximum value should be less than MAX_NFS ( the maximum number of NFs), so,  `if (nf_id >= MAX_NFS)` is to check the validation of nf_id, which is correct. But it lacks the part of checking the validation of `nf_info->service_id`. The maximum of services types is defined by macro `MAX_SERVICES`, which is 32.

[2019-02-12 20:28] lyuxiaosu opened #83 "install.sh doesn't remove the old igb_uio module and install the new one when compiling dpdk"
## Bug Report

**Current Behavior**
`install.sh` doesn't reinstall igb_uio module generated by dpdk if it finds the system has already installed one. Since dpdk provides the driver of igb_uio which might be often updated, the old igb_uio module should be removed and replaced by the dpdk's. This can cause a run-time error for running `dpdk_iface_main` to create a dpdk-iface device.

**Expected beha

[2019-02-15 17:18] twood02 commented on #64
solved by #66.

[2019-02-15 17:18] #64 closed

[2019-02-25 03:07] IndranilRoy80133 opened #68 "make error in onvm directory"
I am following the installation instructions and when it was instructed to enter the onvm directory and use the make command, I am getting the following errors.

/home/indranil/openNetVM/onvm/onvm_mgr/onvm_init.c:108:18: error: ‘struct rte_eth_rxmode’ has no member named ‘header_split’
                 .header_split   = 0,                    /* header split disabled */
                  ^~~~~~~~~~

[2019-02-25 03:11] koolzz commented on #68
Hi @IndranilRoy80133, This looks like you have a new dpdk version and old onvm code.

Which version of openNetVM and dpdk are you using?

[2019-02-25 03:16] IndranilRoy80133 commented on #68
How can I check the version?

[2019-02-25 03:19] IndranilRoy80133 commented on #68
dpdk version is 18.11.1-rc1

[2019-02-25 03:23] koolzz commented on #68
Okay so you're using our latest dpdk version, you should checkout the dev branch and it should compile

[2019-02-25 03:38] adityadhakal commented on #68
Hi @koolzz do the `develop` branch have throughput issue which we reported on slack or this is a different version of OpenNetVM.

[2019-02-25 03:43] koolzz commented on #68
@adityadhakal We're not sure were the regression issue comes from yet. The issue reported above is simply due to using a new version of dpdk but using an old version of openNetVM with that. Updates for dpdk18.11 can be seen [here](https://github.com/sdnfv/openNetVM/commit/abe77ad9f75829a0d1cd18fe57ebbaae87a7c4ac)

[2019-02-26 18:05] koolzz commented on #68
Assuming that solved your issue, closing this.

[2019-02-26 18:05] #68 closed

[2019-03-31 20:41] haochenpan opened #90 "Need Help to Recover from Errors Caused Example Programs"
Hi all,

I believe I have set up openNetVM correctly. However, when I fire up `load_generator` along with `basic_monitor`, usually after around 1-30s, the manager threads dies (in another terminal) without giving any info. When I try to fire it up again, I always get:

I am trying to figure out why and how to recover from this, I tried `sudo rm /mnt/huge/* -rf` and checked there are huge pages fre

[2019-03-31 20:45] koolzz commented on #90
Hi @haochenpan,

I didn't test this yet but here are some ideas:

The load_gen -> basic_monitor probably crashes the manager as it tries to send packets out of the NIC and the port probably isn't set up (we should fix this crash and make sure)

To recover from the `EAL: Cannot init memzone` you usually just have to ensure you've killed all your running NFs. In this case you would have to stop the

[2019-03-31 20:55] haochenpan commented on #90
Hi @koolzz ,

For the `EAL` problem, you are right! I forgot to check `top` and kill threads.
For the `load_gen -> basic_monitor` problem, are you suggesting lines 172-173 of `monitor.c` are causing the problem? just curious, reply if you have time.

Thank you for your timely reply!
Roger

[2019-03-31 21:06] koolzz commented on #90
You welcome,

The problem is both there and in our [port tx processing function](https://github.com/sdnfv/openNetVM/blob/develop/onvm/onvm_nflib/onvm_pkt_common.c#L260) because we don't actually check if that port is allocated. I think port_buf just isn't a valid address which causes a segfault.

[2019-03-31 22:39] koolzz commented on #90
Are you experiencing constant drops or just the batch in the begging being dropped? If its constant you might need to adjust the packet rate, check README for more instructions.

_As a note_, the load generator NF isn't as well tested as something like Pktgen so there might be some issues with it, we provide it more as a convenient example rather than a concrete performance benchmark.

[2019-03-31 22:51] haochenpan commented on #90
Not constant drops, around 500 packets / 30s,  I will check README though.
Thanks, I will submit a PR if I have found something : )

[2019-03-31 22:55] koolzz commented on #90
In that case could just be that the processing isn't fast enough so you see occasional drops. Yeah. definitely, we're always happy to see new contributors.

Closing as the original question is resolved.

[2019-03-31 22:55] #90 closed

[2019-04-01 05:31] #83 closed

[2019-04-01 19:29] koolzz opened #91 "Comprehensive list of enchancements"
## Possible new feature/updates for onvm, both WIP, Planned and Finished

**Description**:
This will serve as a pinned issue with tasks that need to be implemented. This is easier to edit than the projects board and provides a quick overview. We might utilize the Projects board for tasks that are actually assigned and under development.

When a task is WIP it will have a check-mark box next to it

[2019-04-02 07:02] koolzz opened #93 "Termination of NFs stopped before being executed"
## Bug Report

**Current Behavior**
If you Ctrl-C the NF before it starts running it will already have the core assigned but won't do any cleanup (before running in this case is before calling `onvm_nflib_run_callback`)

**Expected behavior/code**
We don't want this to happen as it will say the core is occupied.

**Possible Solution**
Kind of low priority for now, don't have a clean solution.

[2019-04-05 18:31] madhura-a opened #95 "Communication between network functions present in two servers is failing after few packet exchanges"
## Bug Report

**Current Behavior**
I am using two servers with 10G ports and they are connected with each other. I have one network function in Server 1 and two network functions in Server 2. There is a need for exchanging a lot of packets between two servers. So currently behavior is as follows,

1. Server 1 sending Message 1 to Server 2 --> working fine
2. Server 2 sending Message 2 to Server 1

[2019-04-05 18:45] koolzz commented on #95
Hi @madhura-a,

By messages you mean just custom packets correct?

This is indeed strange behavior, if packets were successfully sent from server 2 to server 1 then there shouldn't be any issues with the further communication. You're seeing no packets RX on the port that the packet is supposed to arrive at? And Server 2 port TX shows successful transmission?

**You can also confirm that the packet

[2019-04-07 04:29] madhura-a commented on #95
Yes. Messages mean custom packets.
Server 1's statistics:

![server1](https://user-images.githubusercontent.com/37780565/55678652-18687a00-591b-11e9-9dfc-ba2b8f9550aa.png)

Server 2's statistics:

![server2](https://user-images.githubusercontent.com/37780565/55678665-3fbf4700-591b-11e9-8fe0-66b9f8afd80a.png)

As we can see port 0 of server 2 says it has transmitted 2 packets and port 0 of server 1

[2019-04-07 11:51] madhura-a commented on #95
I have collected rx and tx pcap files. In the pcap files also, it says server 2 has transmitted 2 packets and server 1 has received only one packet.
The network functions I have written are in c++. I followed dpdk c++ patch file for c++ support following the link [https://patches.dpdk.org/patch/15103/ ] . Is this causing the issue?

[2019-04-07 14:09] koolzz commented on #95
Well if the pdump doesn't report 2 rx packet on server 1 that means its definitely not the onvm_mgr losing the packets. I'm not sure why the packet is being dropped in transition from server 2 -> server 1 especially as they are directly connected.

We didn't test any C++ NFs yet but as you see the packet being sent from server 2 that is probably not the problem.

Can you try sending more messages?

[2019-04-07 15:28] madhura-a commented on #95
Yes. If I send 20 packets from server 2, server 1 receives only 10 packets. I have one basic question. When the servers and directly connected with each, does source MAC address and destination MAC address have any significance?

[2019-04-07 15:40] koolzz commented on #95
Yeah it might be dropping them if you're not setting the mac properly

[2019-04-09 04:37] madhura-a commented on #95
It is working fine now. I was not setting the MAC address properly. But the question is how it was able to transmit the packets initially, without any MAC address?
Also, I have one more doubt, what does ret in the NF statistics means?

[2019-04-12 14:12] XinShuYang opened #100 "./onvm/go.sh 1,2,3 1 -s stdout -a 0x7f000000000 stop running"
## Bug Report

**Current Behavior**
I try to build a mtcp container on ONVM, but the mmap function failed. I found this issue has been mentioned in mtcp onvm install guides. But when I try this go.sh command, it stops running at "APP: Stats verbosity level = 1" .(in screenshots)
<img width="909" alt="Screen Shot 2019-04-12 at 10 06 19 AM" src="https://user-images.githubusercontent.com/25102428/560

[2019-04-12 14:21] koolzz commented on #100
To confirm, does this `./onvm/go.sh 1,2,3 1 0xF8 -s stdout -a 0x7f000000000` work fine? The mtcp examples don't have the updated onvm_mgr args, the cpu mask for NFs is a required arg. I'll submit a quick pr to mtcp to fix that.

[2019-04-12 14:44] XinShuYang commented on #100
./onvm/go.sh 1,2,3 1 0xF8 0 -s stdout -a 0x7f000000000  doesn't work.  I have tested the epserver in opennetvm-dev latest version and it works. (using ./onvm/go.sh 1,2,3 1 0xF8 -s stdout -a 0x7f000000000)

[2019-04-12 14:48] koolzz commented on #100
Oh sorry it should be ./onvm/go.sh 1,2,3 1 0 -s stdout -a 0x7f000000000

[2019-04-12 14:49] koolzz commented on #100
Could you verify that one, there is technically no reason to use 0xf8 as mtcp is supposed to do it's own core managing

[2019-04-12 14:57] XinShuYang commented on #100
./onvm/go.sh 1,2,3 1 0 -s stdout -a 0x7f000000000 can start the ONVM, but when I run the mtcp(epserver) it failed with  " Cause: There are no cores available for this NF".
Using ./onvm/go.sh 1,2,3 1 0xF8 -s stdout -a 0x7f000000000 doesn't have this problem.

[2019-04-12 14:58] XinShuYang commented on #100
<img width="614" alt="Screen Shot 2019-04-12 at 10 58 34 AM" src="https://user-images.githubusercontent.com/25102428/56046753-f5bad480-5d11-11e9-9afe-bfcb3e10e2f3.png">

[2019-04-12 15:01] koolzz commented on #100
As I see, yeah the standard core allocation does not make sense with this as we're not actually using the cores from the manager argument for mtcp but if there is nothing there the NF initialization complains.

Thank you for testing this! I'll add some notes regarding the issue and submit the mtcp pr

[2019-04-16 05:16] koolzz commented on #100
- [x] Submitted a PR for [mtcp](https://github.com/mtcp-stack/mtcp/pull/234)
- [ ] Still need a README note for onvm

[2019-04-16 05:24] koolzz commented on #95
@madhura-a Sorry for the late reply, didn't see the notification for your message. In case you still need this:

The dropping is weird as its done by the NIC I think, can't tell why exactly it drops some macs but allows others.
Regarding `ret` action, the NF can use it to send packets, whenever we call `onvm_nflib_return_pkt` or `onvm_nflib_return_pkt_bulk`  that stat is incremented, its placing t

[2019-04-16 05:43] madhura-a commented on #95
Thank you for your reply. With proper MAC headers, inter-server packet transmission is working fine. So closing this issue.

[2019-04-16 05:43] #95 closed

[2019-04-18 21:54] koolzz opened #105 "Advanced Rings NF Shutdown on onvm_mgr Shutdown"
## Bug Report

**Current Behavior**
When we run Speed tester(or scaling NF) with advanced rings and then shut down onvm_mgr the speed tester NF doesn't properly shutdown.

**Expected behavior/code**
We would expect all NFs to shut down (even the advanced rings one)

**Steps to reproduce**
[code]

**Possible Solution**
We need to properly handle messages for advanced rings (currently we just ignore

[2019-04-20 20:41] koolzz opened #106 "OpenNetVM Release 19.05 (In progress)"
Description of the next planned release
-

OpenNetVM Version v19.05 is a major release which introduces a new shared cpu mode that allows multiple NFs to run on the same core.  Please read the release note for a detailed list of changes: [ONVM Release v19.04](FIX_ME).

A CloudLab template is available with the latest release [here: https://www.cloudlab.us/p/GWCloudLab/onvm](https://www.cloudlab.us

[2019-04-21 04:05] koolzz opened #107 "Launch script argument butchering"
## Bug Report

**Current Behavior**
Running the current go script won't properly work with string args, f.e. the payload search NF uses a `-s` argument which accepts a string, if such string is `"GET /8K"` then the NF will only get `GET` as an argument instead of `GET /8K`. Somehow the bash script butchers the arg.

**Expected behavior/code**
Clearly we don't want that, it should be passed properl

[2019-04-21 09:52] madhura-a opened #108 "Regarding performance comparison in single server vs multiple servers"
Respected Sir,

I need a clarification related to the performance of openNetVM. I have created 6 network functions. I have measured the latency involved in 2 ways,

1) All the network functions running in the same server.
2) Here I have used 3 servers, server 1 has 1 network function, server 2 has 4 network functions and server 3 has one network function.

The packets are generated at one network

[2019-04-21 16:03] twood02 commented on #108
That seems odd. A couple questions:

 - How exactly are you measuring latency?
 - How are you generating traffic at the first NF?

[2019-04-21 16:17] kkrama commented on #108
Also, it may depend on how cores are allocated (maybe 1?) for case 1 when
you have all the NFs running on one server. If you have the core
bottlenecked, then it might be possible that it contributes more delay than
even going over the network multiple times to get to the other server and
back. Depends on how much  work is done on the core...

On Sun, Apr 21, 2019 at 9:03 AM Tim Wood <notifications

[2019-04-21 16:37] madhura-a commented on #108
- For measuring the latency, I have used the following code.
[code]

  After sending the first packet, I have calculated the oldtime value using rte_get_tsc_cycles(). Once all the packets arrived, I have executed above code.

- For generating the packets, the following piece of code is used.
[code]
The main function of network function 1 has the above code, it sends the packet to itself. Packet ha

[2019-04-21 16:42] madhura-a commented on #108
Yes sir, I have assigned one dedicated core to each network function in both case 1 and case 2.

[2019-04-27 05:06] koolzz commented on #106
This release might be a bit delayed due to the current issues with the shared cpu signal handling issues.

[2019-05-11 19:50] #61 closed

[2019-05-16 16:23] nks5295 commented on #105
Closed in #111

[2019-05-16 16:23] #105 closed

[2019-05-18 17:48] koolzz opened #118 "Wrong environment value error message"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

## Bug Report

**Curre

[2019-05-18 23:34] koolzz opened #119 "Free malloced mem in onvm_mgr main"
**Current version**
Investigate `onvm_mgr` cleanup. I don't think we ever free anything in onvm_mgr, example see https://github.com/sdnfv/openNetVM/blob/develop/onvm/onvm_mgr/main.c#L303.

**Expected code:**
Call free or rte_free depending on memory type.

[2019-05-19 21:56] koolzz opened #120 "Advanced rings NF reconsiderations"
Some of the advanced rings NF logic needs to be reworked, this will work well after the #117 PR is finished and merged.
I think we need to be more careful of what we're trying to support with advanced rings and not to clutter onvm_nflib with extra functionality.

 - Old API calls that are essentially deprecated (get nf and get tx/rx rings structs) should be removed.
 - We probably don't even want

[2019-05-20 22:05] koolzz opened #121 "Writing up the Wiki for ONVM"
## Feature Request

ONVM needs better documentation, one way to do that is constantly updating the doc/ section that we provide but so far we have not been very proactive regarding that and some parts are definitely outdated.

I propose we work on the openNetVM wiki page on github and periodically sync those changes with our docs/ folder.

I have some things started in the private repo that I will

[2019-05-24 18:15] koolzz commented on #107
Not sure why it didn't close automatically, fixed in https://github.com/sdnfv/openNetVM/pull/114
Maybe need to be merged to master or smth

[2019-05-24 18:15] #107 closed

[2019-05-31 08:51] #93 closed

[2019-06-03 01:25] koolzz commented on #119
Closed in #122

[2019-06-03 01:25] #119 closed

[2019-06-04 23:24] koolzz commented on #106
Release finished

[2019-06-04 23:24] #106 closed

[2019-06-05 14:50] koolzz opened #139 "Invalid Port Prints when running with no ports enabled"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

## Bug Report

**Curre

[2019-06-22 18:17] knodir commented on #60
Hi @twood02,

I would like to take a stab at this. Is [examples/test_flow_dir](https://github.com/sdnfv/openNetVM/tree/master/examples/test_flow_dir) good place to add this feature? I.e., in addition to its current behaviour, `test_flow_dir` would also show/add/delete rules based on CLI input by using Flow Director API (as in your last paragraph). Or is it better to create another NF, say `flow_di

[2019-06-23 12:45] koolzz commented on #60
Hi @knodir, as you have noticed it would be useful for the test flow dir to have this functionality as we could test the added rules and also it wouldn't create a whole new NF which is cleaner to maintain.
The flow rules are essentially just startup configuration so it should be done on NF setup, therefore it should be easy to build on top of the existing NF(probably won't need to modify the exist

[2019-06-24 07:06] knodir commented on #60
Thanks for the quick response, @koolzz. I'll get started with adding this functionality to `test_flow_dir` then.

[2019-06-29 07:51] Wasdns opened #150 "onvm/go.sh: line 80: 227467 Segmentation fault"
## onvm/go.sh: line 80: 227467 Segmentation fault

Hi all,
I'm trying to use openNetVM to establish a NF chain:

[code]

I modified the source codes of basic monitor to support the parameter `-d`. The source codes are available [here](https://github.com/Wasdns/netvm/blob/master/examples/basic_monitor/monitor.c).

Everything seems to be ok so I started MoonGen on another machine to inject 40 Gbps t

[2019-06-29 10:32] koolzz commented on #150
Looks like you're trying to send msgs from the basic monitor to destination but with the action NF OUT which will try to send them out of the NIC port. This would cause a segfault as you don't have a port with ID 3. Simply switch the action to the same as in the simple forward NF(TONF)

[2019-06-29 14:32] Wasdns commented on #150
@koolzz It works. Thanks for your help!

[2019-06-29 14:32] #150 closed

[2019-06-29 15:03] Wasdns commented on #150
@koolzz
Hello, sorry for bothering you again. I have another question:
How can I make the simple_forwarder forward the traffic to the egress NIC port?
I have changed the action of simple_forwarder in "packet_handler" function to ONVM_NF_ACTION_OUT. But it seems to not work well since the ONVM manager crashes again. The error information is the same as I mentioned above. Any help would be appreciat

[2019-06-29 15:46] koolzz commented on #150
Make sure the port you're sending to is enabled in the onvm mgr ( from your example only port 1 is enabled)

[2019-06-30 02:24] Wasdns commented on #150
@koolzz
Thanks for your reply. I have read go.sh under the folder onvm/. I noticed that the second parameter of go.sh is to assign port mask. Therefore, I changed my command to:

[code]

I try to use one port for RX and one port for TX. However, the onvm manager is still crashed when I injected traffic into openNetVM.

[2019-06-30 15:16] koolzz commented on #150
@Wasdns Which port are you trying to send out from(meta destination argument)?
Can you show me what onvm_mgr prints? The port needs to be bound to dpdk

[2019-07-02 03:07] Wasdns commented on #150
@koolzz
Sorry for my late reply. The output of onvm_mgr:

Command: `onvm/go.sh 0,1,2,3 3 0xFF -s stdout`

[code]

I have two ports connected to IGB UIO driver. I have changed the action of the last NF "simple_forward" to ONVM_NF_ACTION_OUT.

[2019-07-02 08:33] koolzz commented on #150
Yes that looks okay to me, what is the meta->destination argument of the packet? The one you set in simple forward. It can either be 0 or 1 based on your port setup

[2019-07-02 11:13] Wasdns commented on #150
@koolzz
According the example [here](https://github.com/sdnfv/openNetVM/blob/master/docs/Examples.md#linear-nf-chain), I use the command `./examples/start_nf.sh simple_forward 5 -d 5 ` to start "simple_forwarder".

[2019-07-02 13:03] koolzz commented on #150
If you're trying to send it out of the nic use either -d 0 or -d 1(0 might not work if we arg check dest I'd, but you can edit that)

[2019-07-02 13:13] koolzz commented on #150
The -d 5 tries to send it out of port 5 which segfault s

[2019-07-04 08:01] Wasdns commented on #150
@koolzz
The problem has been resolved based on your instructions. Thanks a lot!

[2019-07-07 19:35] kevindweb commented on #62
This is done, we should close the issue.

[2019-07-07 19:36] koolzz commented on #62
Good point, use your powers @kevindweb

[2019-07-07 19:43] #62 closed

[2019-07-27 16:32] kevindweb commented on #118
This has been fixed, I just tried with the latest version of develop. `Please export $ONVM_HOME and set it to /users/kdeems/openNetVM`. Can I close this?

[2019-07-31 18:32] koolzz opened #153 "ONVM v19.07 (pre-release notes)"
A list of PRs to be included is tagged with [**ONVM v19.07** milestone](https://github.com/sdnfv/openNetVM/pulls?utf8=%E2%9C%93&q=is%3Apr+milestone%3A%22ONVM+v19.07+%22+).

Summary of release:
Major updates:

NFD library with example NFs--Add NFD, a C++-based NF developing compiler designed by Wenfei's group (http://wenfei-wu.github.io/) from IIIS, Tsinghua University, China.

Performance fixes:

[2019-07-31 18:51] koolzz commented on #118
@kevindweb are you sure?

[code]

[2019-07-31 18:56] kevindweb commented on #118
I see the issue now, I can fix that later, and we can put it in the release.

[2019-08-01 00:34] koolzz commented on #67
Finally fixed

[2019-08-01 00:34] #67 closed

[2019-08-03 00:26] kevindweb commented on #118
Can I close this?

[2019-08-03 00:40] koolzz commented on #118
@kevindweb  Well yeah you fixed it so go ahead :)

[2019-08-03 00:44] #118 closed

[2019-08-11 02:55] koolzz commented on #153
Released so closing

[2019-08-11 02:55] #153 closed

[2019-08-14 11:04] madhura-a opened #157 "Running a NF using go.sh is not pinning the right core"
## Bug Report

**Current Behavior**
Step 1: Run manager (./go.sh 0,1,2 0 0xf8 -s stdout -a 0x7f0000000)
Step 2: Run any network function using go.sh (./go.sh 1 -d 1)
Step 3: Check the core to which NF is pinned

The output of the taskset command shows that NF is pinned to core 0.

**Expected behavior/code**
Ideally, it should bind to core 4.
Running the NF using start_nf.sh is working as expected.

[2019-08-14 12:52] twood02 commented on #157
@dennisafa can you look into this?

@madhura-a can you tell us what version of ONVM you are using?

[2019-08-14 14:30] dennisafa commented on #157
Hi @madhura-a
I'm having a bit of trouble replicating your issue. I'm using the `master` branch version of ONVM. Using the 0xf8 bit mask specifies that you are registering cores 3-7 for NF usage:
<img width="582" alt="Screen Shot 2019-08-14 at 10 19 18 AM" src="https://user-images.githubusercontent.com/32916582/63028901-9f0b0600-be7d-11e9-8690-92ca80e3002b.png">

Running the simple_forward NF with

[2019-08-14 15:03] madhura-a commented on #157
Now just check whether the NF is actually running on core 3 or not.
I have used the command taskset -c -p <pid of NF>

![image](https://user-images.githubusercontent.com/37780565/63032065-b9bb9a00-bed2-11e9-8888-d51d06f74d50.png)

[2019-08-14 15:05] madhura-a commented on #157
I think there is a problem with onvm_manager stats also. It always displays the first registered core.

[2019-08-14 16:19] dennisafa commented on #157
By design, NF's are assigned to the first available core. Using htop I verified that the simple_forward NF is assigned to the proper core:
<img width="1278" alt="Screen Shot 2019-08-14 at 12 13 33 PM" src="https://user-images.githubusercontent.com/32916582/63037596-5fe4b100-be8d-11e9-9cfa-5f4a8fc5fae5.png">

Perhaps try htop and see if you get similar results.

[2019-08-14 16:27] dennisafa commented on #157
I also tried with taskset. Please use taskset -c -p -a:
<img width="434" alt="Screen Shot 2019-08-14 at 12 26 16 PM" src="https://user-images.githubusercontent.com/32916582/63038317-e2ba3b80-be8e-11e9-9313-eb6bc370e058.png">

[2019-08-14 16:42] madhura-a commented on #157
Taskset with -a option displayed the core correctly. Thank you.

But in stats, even though I changed the core to some other value using -l option, it still displays core as 3.
I have used the command as ./start_nf.sh speed_tester -l 5 -- -s -r 1 -- -d 1

![image](https://user-images.githubusercontent.com/37780565/63039129-46b92000-bee0-11e9-9b61-30f858b68ea4.png)

[2019-08-14 17:30] dennisafa commented on #157
You must specify the manually assigned core flag -m: `-l 5 -- -s -m -r 1 -- -d 1`

[2019-08-14 18:33] madhura-a commented on #157
Its working. Thank you.

[2019-08-14 18:33] #157 closed

[2019-08-14 20:01] twood02 commented on #157
@dennisafa @koolzz should we make it so that if you use `-l`, then `-m` is required?

[2019-08-14 20:12] dennisafa commented on #157
@twood02 yes i agree. -l defaults to 0 when the ./go.sh script is called (see htop screenshot)

We should change that - if -l is used then we assume the user is manually assigning a core, thus -m should be used as well.

[2019-08-14 23:36] koolzz commented on #157
@twood02, @dennisafa
Maybe we should just print a warning.
Technically a user may want to just use `-l` for dedicating a core which starts the NF (f.e when core 0 should be left completely unused as its running intensive computation), as it runs some basic dpdk startup before moving to a different core.

[2019-08-21 05:44] dennisafa commented on #139
I'm having some trouble replicating this bug. Using latest version of dev branch, running manager with and speed_tester with the commands used above, I am getting no prints on either the manager or NF side. Where's the port parsing happening? Having trouble finding where that print statement is.

[2019-08-21 06:15] koolzz commented on #139
@dennisafa If I recall correctly this print happens because when we run speed tester it tries to create packets using some mac addr from the ports array. The print would happen in the setup portion of speed tester launch.

[2019-08-21 18:48] koolzz commented on #139
Let me know if you were able to replicate @dennisafa. Probably don't solve this though, it's reserved for first time contributors

[2019-08-21 18:58] dennisafa commented on #139
wasn't able to : ( not getting any invalid prints on either the mgr or NF. @kevindweb can you sanity check me?

[2019-08-22 22:07] kevindweb commented on #139
I am instantiating a new cloudlab instance to get this again, but I have received this a lot actually, both in cloudlab and nimbus. I never looked into why, but I'll try to replicate.

[2019-08-22 23:04] kevindweb commented on #139
I mean I know why this is happening. Not too difficult to replicate, basically you just run normal manager + speed_tester with no dpdk devices bound (easily produced with a new cloudlab node). I got it on my first try, then bound a device, it went away. I unbound that device, the error came back.
This is just a dpdk issue. Inside `/dpdk` I tried `grep -nr -I . -e "Invalid port id %d"` (using -I to

[2019-09-10 19:19] base0x10 opened #161 "missing dependancies in install guide"
## Bug Report

**Current Behavior**
`install.sh, the script to configure and install dpdk relies on python2 in `/usr/env/python` which
is not by default installed on newer distros (with an eye to the eol in january).
Installing python is not a step in the install guide

**Expected behavior/code**
The install guide asks you to install python3

**Steps to reproduce**
try to install with guide on a f

[2019-09-10 19:24] koolzz commented on #161
Hey @base0x10, good find, thank you for submitting an issue.
Do you possibly want to fix this issue and become a contributor?

[2019-09-10 19:34] base0x10 commented on #161
I'll make a PR for this issue and any other issues I find.  I don't have the permission to assign this issue to myself.  thanks

[2019-09-27 07:52] Chenwh93 opened #162 "Error while running DPDK HelloWorld Application"
Hi,
I was trying to install OpenNetVM on my Ubuntu server (Ubuntu version: Ubuntu server 18.04, Linux kernel version: 4.15.0-64-generic).

After I configured and compiled DPDK according to the steps in [openNetVM Installation](https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md#opennetvm-installation), I try to run the DPDK HelloWorld Application in "/dpdk/examples/helloworld"

The comm

[2019-09-27 13:22] twood02 commented on #162
It looks like the root of your issue is ` EAL: No free hugepages reported in hugepages-1048576kB`
This means you don't have huge pages setup correctly.  Be sure that you have run the `scripts/setup_environment.sh` script (you need to do this after each reboot) and verify that the message `Huge pages successfully configured` shows up.

That setup script calls into [this file](https://github.com/sdn

[2019-09-28 07:53] Chenwh93 commented on #162
Thanks for your advice!
I have tried to run `scripts/setup_environment.sh`, and the log shows:

But DPDK helloworld application still not work, it shows the same bug log:

Then I check [the file](https://github.com/sdnfv/openNetVM/blob/master/scripts/dpdk_helper_scripts.sh#L64) you mentioned, I find the command will traverse `/sys/devices/system/node` . I check these folders on my system, there is

[2019-09-28 19:02] archit-p opened #163 "onvm_nflib_init() segmentation fault"
Hello team,

I'm working on porting [onvm-snort](https://github.com/sdnfv/onvm-snort) to v19.07 of openNetVM. After updating the daq_netvm.c implementation to match the current API, daq-2.0.6 compiles fine, however runs into some runtime errors.

[Link to repo](https://github.com/archit-p/onvm-snort)

Weirdly, snort returns a segmentation fault when run. The backtrace when run under gdb is:
[code]

[2019-09-28 20:30] koolzz commented on #163
Could you possibly enable debugging flags and disable compiler optimization so that we can check what specifically segfaults?

We should have instructions in the readme here https://github.com/sdnfv/openNetVM/blob/master/docs/Debug.md

[2019-09-28 20:36] koolzz commented on #163
Possibly nf tag isn't properly passed in so it segfaults

[2019-09-29 05:14] archit-p commented on #163
Thanks for the suggestion! I recompiled onvm and dpdk with debug flags on, the backtrace is more detailed now:
[code]
I'm passing NF_TAG, in a manner similar to other example NFs (by defining it at the top). [Code](https://github.com/archit-p/onvm-snort/blob/master/daq-2.0.6/os-daq-modules/daq_netvm.c)

Could it be an issue that the rte_mempool is not initialized? I suspect so because the value of

[2019-09-29 12:39] twood02 commented on #162
If you want to force a particular size you could try hard coding in the value here: https://github.com/sdnfv/openNetVM/blob/master/scripts/dpdk_helper_scripts.sh#L3

It seems your system has multiple sizes configured and that is confusing our script.

[2019-09-29 18:03] koolzz commented on #163
Thanks for enabling those, indeed this is a strange case. It looks like the code is fine, we check creation success [here](https://github.com/sdnfv/openNetVM/blob/46bbc962a0ef2ddfd774a7fda798f9ea92b7b116/onvm/onvm_mgr/onvm_init.c#L221).

I'm wondering if its like you said a DPDK library related issue. Are you using the same dpdk version? We do have a ` -a 0x7f000000000` flag for onvm_mgr, could yo

[2019-09-29 20:20] archit-p commented on #163
Thanks again for the inputs! I've manually setup DPDK to v18.11, as described in [installation guide](https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md). So that is unlikely to be the issue.

Tried using the both `-a 0x7f000000000` and `-v 0x7f000000000` as described in [debug guide](https://github.com/sdnfv/openNetVM/blob/master/docs/Debug.md), while running the onvm_mgr, however the

[2019-09-29 22:05] koolzz commented on #163
Hmm, is the daq compiled with the same version of dpdk as the onvm mgr? I'll ask in our dev slack channel to see if anyone has seen this error.

[2019-09-30 05:33] Chenwh93 commented on #162
I think I have solved the problem. It could be caused by a misconfiguration in `/sys/devices/system/node/node0` (because it has no hugepage configuration).

After I reinstall the ubuntu system, there are only `node1` in `/sys/devices/system/node`, and it has hugepage configuration folder. This time, the DPDK Helloworld Application can run correctly.

Thanks a lot for your help! :)

[2019-09-30 05:33] #162 closed

[2019-09-30 13:45] archit-p commented on #163
Thanks a lot for putting this question across.

I could solve the issue after digging through stuff online. Turns out it was in-fact an issue with the DPDK libraries being linked incorrectly. DAQ was linked against only `libdpdk.a` and not the other libraries under `${RTE_SDK}/${RTE_TARGET}/lib/`. This would allow onvm-snort to build, but return a segfault when any functions ex. `rte_mempool_get`

[2019-09-30 15:09] koolzz commented on #163
Great to hear @archit-p!

Regarding testing @twood02 might have better suggestions but I think sending a special PCAP file might work to showcase that snort is working.

[2019-10-08 00:38] twood02 commented on #163
@archit-p - glad you fixed the issue.
Testing with a pcap would be easiest if you can easily generate one that will trigger your snort rules.  Otherwise there are some tools you can try like https://github.com/SavSanta/idswakeup/blob/master/README which are supposed to help generate traffic to meet a specific snort ruleset.  We haven't used that, but it seems the best way to validate it is working

[2019-10-08 00:38] #163 closed

[2019-10-11 19:27] archit-p commented on #163
Hello @twood02
I performed some basic tests to validate snort works.

Have created a pull request on the onvm-snort repository. https://github.com/sdnfv/onvm-snort/pull/8 Please let me know if any changes are required.

[2019-10-22 22:44] dennisafa opened #164 "Load generator seg_fault"
## Bug Report

**Current Behavior**
Load generator currently seg_faults when starting.

**Expected behavior/code**
rte_pktmbuf_alloc should work properly in the callback handler. However, it seg faults.
**Steps to reproduce**
Run `load_generator.c` in `examples/load_generator` with `./go.sh 1 -d 1`
**Environment**

- OS:  Ubuntu 18.04
- onvm version:  Latest
- dpdk version:  Latest
- other info:

[2019-11-24 00:20] drbrents opened #172 "Incorrect CloudLab Profile on Main Page"
## Bug Report

On the main openNetVM webpage (http://sdnfv.github.io/onvm/), the link to a CloudLab profile invalid.  The profile still exists, but will not start.

It seems as though the link should be updated to this more recent profile: https://www.cloudlab.us/p/GWCloudLab/onvm

[2019-11-24 18:43] dennisafa commented on #172
Thanks for pointing this out! We will update the link.

[2019-11-29 02:35] #172 closed

[2019-12-22 02:53] Yongeverhuang opened #174 "Other Branch do not install"
## Bug Report

**Current Behavior**
By follow openNetVM's installation ,but could not install branch NFVnice_Source(https://github.com/nfvnice/NFVnice_Source) and nfvnice-reinforce(https://github.com/sdnfv/openNetVM/tree/experimental/nfvnice-reinforce).in step install scripts/install.sh , error.
By the way ,if the NSF CloudLab has install these branch? Or the installation not suitable for other br

[2019-12-22 04:46] #164 closed

[2019-12-22 05:14] dennisafa commented on #174
Hi! Could you possibly provide a description of the error when running `install.sh`? In addition, the make config command must be formatted like this: `make config T=x86_64-native-linuxapp-gcc` making sure that the space after = is deleted. As I mentioned, make sure that RTE_SDK is set to the DPDK path as well.
The default ONVM CloudLab profile that we have does not come with the NFVnice_Source re

[2019-12-22 07:42] sameergk commented on #174
Hi,
The codebase being too old, the "install.sh" script may be pointing to a very old GCC version, resulting in this issue.
"install.sh" script only ensures that you have the right DPDK environment, tools and necessary drivers for OpenNetVM being setup.
If you are able to successfully install the latest OpenNetVM on your setup, then you would not want to run install.sh again, instead directly comp

[2019-12-22 07:45] Yongeverhuang commented on #174
Thanks for help , the blow shows two ways of the description of the error .
1、Using running these commands:
cd dpdk
make config T=$RTE_TARGET
make T=$RTE_TARGET -j 8
make install T=$RTE_TARGET -j 8

error is:
@h404f-01:~/NFVnice_Source/dpdk$ make config T=x86_64-native-linuxapp-gcc
make[3]: Nothing to be done for 'depdirs'.
Configuration done

2、Using the install guide (https://github.com/sdnfv/op

[2019-12-22 08:27] Yongeverhuang commented on #174
**Thanks for reply!**
But ,i try the  way in latest OpenNetVM install well,skip to NFVnice_Source/onvm using the 'make' command ,it seems could not success make it.

huanghe@h404f-01:~/WEB/openNetVM$ cd scripts/
huanghe@h404f-01:~/WEB/openNetVM/scripts$ ./install.sh
----------------------------------------
ONVM Environment Variables:
----------------------------------------
RTE_SDK: /home/huanghe/

[2019-12-22 18:46] dennisafa commented on #174
Hi,
Adding onto what @sameergk said, that older version of ONVM may not be compatible with the gcc version that comes with Ubuntu 18.04. This is why `maybe-uninitialized` errors may pop up.

[2020-01-06 05:37] kevindweb commented on #91
@koolzz I will work on the `onvm_mgr launch script should check if any NFs are running before launching` scripting task if you want to update this. #180 fixes this if you want to check that and update here.

[2020-01-06 12:34] koolzz commented on #91
@kevindweb

You should have enough repo permissions to edit the issue, lmk if that's not the case

[2020-01-11 14:33] twood02 opened #181 "Improve Pktgen documentation with example of NF processing real packets"
*This issue describes a simple bug/improvement for the OpenNetVM code, and is a great way for **YOU** to get involved with improving this open source project! If you want to fix it, just create a pull request with the fix as detailed in the [Contributing](https://github.com/sdnfv/openNetVM/blob/develop/docs/Contributing.md) document. If you have questions, post here!*

----

**Documentation, Integ

[2020-01-19 02:37] kevindweb opened #182 "Web Stats Documentation/Dependencies"
## Bug Report

**Current Behavior**
Web Stats has a few documentation issues that need to be updated. Previously, I think when creating documentation, people, including me, already had certain dependencies that we didn't note.

**Expected behavior/code**
1) Without the `nettools` package, we cannot run the manager with onvm_web. It does not come with the base minimal install of Ubuntu 18.04, which

[2020-01-30 19:53] twood02 opened #184 "Declarative Programming based Service Chains"
Service chains can be a great way to test a great deal of complex functionality in the openNetVM system. The idea is for a program to be written (probably in `/examples`) that allows for `.json` configuration file for running different chains of NFs pooled together. We are envisioning a python program that can parse JSON data to start circular or linear chain functionality with different example N

[2020-02-13 02:26] dennisafa opened #185 "rte_hash lookup issues in multi-process environment"
## Bug Report
An rte_hash structure created in a primary process using `rte_hash_create`, with , then looked up using `rte_hash_find_existing` in a secondary process and subsequently used for lookups/additions may cause seg faults.

**Current Behavior**
I initialize a hash structure from the primary process, the manager. Then, I create a separate NF that looks up the created structure by name. The

[2020-02-13 14:21] bdevierno1 opened #186 "Error while setting up envt."
## Bug Report

**Current Behavior**
After following steps in readme https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md#3-set-up-environment
Currently getting an error: cannot mmap memory. Prompted to specify a base virtual address.

**Expected behavior/code**
Should see the NF display how many packets it is sending to itself.

**Steps to reproduce**
cd examples/speed_tester
./go.sh 1 -

[2020-02-13 15:22] dennisafa commented on #186
if you run it like `-a 0x7f000000000 -s stdout` then it should work. im wondering if it might be worth setting this base_virtual address as the default, as every server ive run ONVM on has required it, and letting the user know if they would like to let DPDK decide or enter it manually.

[2020-02-13 15:38] kevindweb commented on #186
Ya this should be the default, @bdevierno1 thst would be a good first job for you to work on.

[2020-02-16 21:27] kevindweb opened #187 "Pktgen DPDK Link Invalid"
## Bug Report
[Pktgen Link](https://github.com/sdnfv/openNetVM/tree/master/tools/Pktgen) is not working in the Pktgen repo. Someone new should make a PR to fix this. If you want to do this, I would also say check all READMEs in the repo for validity. It would be a great help to make sure everything is up to date, as sometimes links die and need to be replaced. Please comment if you want to do this

[2020-02-16 21:43] kevindweb commented on #187
@dennisafa @koolzz On another Pktgen note, I'm trying to run Pktgen from an Ubuntu 18 node, and it seems to be really finicky (from the cluster nodes). Sometimes it works and other times it doesn't even send packets through the NIC (nothing in TX). Do we need to update Pktgen or something? I'm pretty sure we need a higher version but someone can jump in here.

[2020-02-17 13:34] twood02 commented on #186
is the `-a` argument necessary for running all NFs now?  This problem only used to appear for more complicated NFs like the snort intrusion detection system.

have the rest of you been manually passing in this flag?

[2020-02-17 14:56] dennisafa commented on #186
It’s only necessary when the NF process maps its memory into huge-pages after the rte_eal_init call. This seems to be OS specific, I’m not sure how the NF proc decides to map its memory such that it conflicts with huge-pages. From what ive seen, It may only occur a percentage of the time, as the NF could map its memory into a non huge-page memory.

[2020-02-17 15:27] dennisafa commented on #187
as discussed over slack - it is most likely a nimbnode cluster-specific issue. i confirmed that pktgen is working on the cloudlab nodes.

[2020-02-17 21:43] twood02 commented on #186
@bdevierno1 can you provide more info on your setup?  Was this using the ONVM cloudlab image with everything preinstalled or a clean image you were setting up yourself?  Does this always happen to you, or just sometimes.  (it's also possible to get this kind of unhelpful/misleading error message because of other problems like the manager crashing or not starting right)

Forcing a default `-a` argu

[2020-02-18 17:45] madhura-a opened #188 "Improving the performance of aes-encrypter network function"
## Bug Report

**Current Behavior**
When I run aes-encrypter network function, I can see a lot of packets getting dropped at the receive ring of the network function (rx_drop). rx_pps and tx_pps are almost equal. So I tried increasing the size of the rings of NFs, but no improvement. How can we improve performance?

**Additional context/Screenshots**
![image](https://user-images.githubusercontent.

[2020-02-18 20:15] twood02 commented on #188
This NF is intended to be an example of a slow, CPU intensive function.  The performance is probably limited by the AES algorithm (it may not be doing anything smart like using hardware acceleration).

In this case, adjusting the ring size or other batching parameters won't have much effect.  If you need higher throughput you can always start more replicas of the NF and then the manager will distr

[2020-02-19 05:22] VenkataramiReddyCh commented on #188
Thank you for your response. We know that only one core can be allocated to each NF instance. As AES encryption is CPU intensive, to increase throughput, can we allocate more cores instead of creating more replicas? Does openNetVM supports pinning of more cores to a single NF instance?

[2020-02-19 13:57] twood02 commented on #188
Starting multiple replicas is the simplest way to achieve this.  If you want to have multiple threads within a single NF process (mainly useful if you have shared state for your NF, which won't matter here), then you can use our scaling API to start more threads each executing the NF's main loop. You can look at https://github.com/sdnfv/openNetVM/tree/master/examples/scaling_example for an example

[2020-02-20 22:22] catherinemeadows commented on #187
I can make a PR to update the Pktgen link and check all of the other links in the README's for validity.

[2020-02-24 19:26] pcodes commented on #186
__Suggestions from the meeting:__
- Add a default base virtual address value to the go script, and if one is provided then have it override the default
- Add a default core mask that can be overridden

[2020-02-24 19:42] pcodes commented on #161
@base0x10 any update on this?

[2020-02-24 19:50] sreya519 commented on #161
I can take a look at this issue and see what can be fixed.

[2020-02-25 19:01] base0x10 commented on #161
Thanks for taking this @sreya519
It looks like python2 may not be required for DPDK.  I am not sure if you want to add Python2 to the list of dependencies or to fix it to use python3 rather than python2.  See [here](https://doc.dpdk.org/guides/linux_gsg/sys_reqs.html) and [here](https://bugzilla.redhat.com/show_bug.cgi?id=1564215)

[2020-02-27 03:30] WilliamMaa commented on #182
I can fix this issue, can someone add me to it?

[2020-02-27 05:05] EthanBaron14 opened #190 "Default Option for Core Masking and Error on Core Conflicts"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Using the manager go.sh script requires multiple arguments. I'd like to simplify the default usage as much as possible. Further, the go.sh script currently allows users to overlap NF cores with manager cores. This could become problematic in that NFs might stop the manager from functioning properly.

**Describe

[2020-02-27 05:06] EthanBaron14 commented on #190
As discussed in our meeting on Monday, February 24, I will be working to implement these changes as part of my first contributions to the project. Anyone who has access can assign me.

[2020-02-27 05:18] koolzz commented on #190
Sounds good, agree that stopping in case of overlapping is too much.

Lets just make the core masks optional so if they're not provided we use the defaults.

[2020-03-04 16:27] #187 closed

[2020-03-08 07:26] rohit-mp opened #192 "Question: Correct way to update stats in NFs"
Hello team,

I was trying to implement a token bucket NF (code can be found here: https://github.com/rohit-mp/openNetVM/tree/token_bucket/examples/simple_forward_tb). I referred to the scaling example to use the advanced rings mode API and made a few changes.

In my current implementation, I see that txps is sometimes more than rxps for my NF which just forwards or drops packets. So could I know w

[2020-03-08 17:09] twood02 commented on #192
Can you clarify exactly which variables you are trying to look at when seeing this behavior?

I'm not certain, but it sounds like this might be a race condition issue -- the RX/TX counts may be being updated by the NF manager running on a different core, so if you read RX first, then read TX, it is not all one atomic operation and both counts may have changed in that time. But I don't remember rig

[2020-03-08 17:36] rohit-mp commented on #192
I'm looking at rx_pps and tx_pps (which I think is stats.rx and stats.tx) when observing this behavior.
![Screenshot from 2020-03-08 22-46-10](https://user-images.githubusercontent.com/32365519/76167857-d29ddc80-618f-11ea-8cbd-7af5fffe68aa.png)
(Please ignore the unchanged NF_TAG. Just realized that there's a limit on the length)

I am able to update the stats from the NF, but am not sure if it is

[2020-03-08 18:01] koolzz commented on #192
@rohit-mp can you please check with onvm mgr verbose mode, pps seems off to me as the tonf stats are the same.

Glancing at your code it looks like you're properly updating stats

[2020-03-08 18:48] rohit-mp commented on #192
@koolzz I was trying out for different values of tb_depth (depth of my token bucket, translates to max number of packets I process in one burst dequeue operation considering availability of tokens),

tb_depth = 10
![Screenshot from 2020-03-08 23-56-54](https://user-images.githubusercontent.com/32365519/76168834-282ab700-6199-11ea-8189-397f57dfd4d0.png)

tb_depth = 100
![Screenshot from 2020-03-08

[2020-03-08 23:29] twood02 commented on #192
@rohit-mp we will try to take a look at this tomorrow in our group meeting (this will be helpful for some of our new students to learn from). Can you be sure the code in your repository is something we can test to see the bug?

[2020-03-09 03:10] rohit-mp commented on #192
Thanks @twood02 !
I just tested the same in another system and saw the same outputs.

[2020-03-09 19:50] WilliamMaa commented on #192
@rohit-mp we believe this problem happened because we are also updating the stats automatically somewhere else. We tested it by commenting out the part where you manually update the stats in the main loop and the result appears to be normal. Can you try the same thing and see if it works out?

[2020-03-10 00:59] catherinemeadows commented on #184
@kevindweb @dennisafa

Before going any further with the python program that can parse JSON data to start a circular or linear chain, I wanted to come up with an example config file to make sure that the format is correct. I also wanted to discuss for circular chains, if the program should error check (i.e. check service and destination id's and tell the user that the chain isn't actually circular

[2020-03-10 01:45] dennisafa commented on #184
I think that it would be cool if the user can give `linear` or `circular` as an arg and then have the script auto-correct the ID's dynamically. The format looks good to me.

[2020-03-10 10:53] rohit-mp commented on #192
@WilliamMaa  I suspected the same too and tried commenting out [line 285](https://github.com/rohit-mp/openNetVM/blob/67d71fa7dd198af51f2316fc5a1744b0b093164c/examples/simple_forward_tb/forward.c#L285)

tb_depth = 10
![Screenshot from 2020-03-10 15-56-56](https://user-images.githubusercontent.com/32365519/76303831-5ec31780-62e8-11ea-9266-19c789e10fa4.png)

tb_depth = 100
![Screenshot from 2020-03-1

[2020-03-10 15:42] dennisafa commented on #192
Hi @rohit-mp . We do update the stats automatically in the [tx_thread](https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_mgr/main.c#L245)
In this case, the tx stats will only update when the PACKET_READ_SIZE [amount is hit](https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_nflib/onvm_pkt_common.c#L178). With a tb_depth of 10, you are only processing batches of 10 packets at a time. T

[2020-03-10 18:24] rohit-mp commented on #192
Ahh alright. Just verified that tb_depth >= 32 works as expected. I'll set a minimum limit to tb_depth for now. Thanks for the help!

But I still need to update stats.act_drop and stats.tx_drop right? I can't seem to verify if not updating tx_drop will be right, but drop count remains 0 when I don't update act_drop.

[2020-03-10 22:08] dennisafa commented on #192
I can verify that stats.tx_drop is working properly. By setting the meta->action value, the tx thread will update the stats properly.
The reason that the drop stat isn't updating is because you are only enqueueing tx_batch_size onto the tx ring. So when the tx_thread dequeues those packets and decides what to do with them, the packets that you labeled as `meta->action = ONVM_NF_ACTION_DROP` are ne

[2020-03-11 09:38] rohit-mp commented on #192
Thanks for the inputs @dennisafa . I've updated my code and everything seems to be working fine now.

As an additional request, could we have more examples on using the advanced rings API? It would help a lot in understanding.

Also, the [Advanced Ring Manipulation](https://github.com/rohit-mp/openNetVM/blob/token_bucket/docs/NF_Dev.md#advanced-ring-manipulation) docs says "Additionally, the NF is

[2020-03-11 23:48] twood02 commented on #184
A major challenge here is that the parameters you are including, such as `numpackets` are NF specific, so there will not be an easy way for your script to know how to translate that to a specific command line parameter.

A long term solution for this would be to make all of our NFs support either abbreviated command line arguments (e.g., `-p`) like we do now *and* verbose arguments (e.g., `--numpa

[2020-03-12 14:23] dennisafa commented on #192
Definitely, we will update our advanced rings mode and create more examples in the process. I will be opening a separate issue to reflect these needed changes shortly.

[2020-03-13 16:21] kevindweb commented on #184
@catherinemeadows and I were talking about this. I think it's ok if the author has a little more complexity in writing the parameters. The usage function in most NFs will be clear enough that the author messed up their NF-specific arguments. If the executable was run incorrectly, we stop the experiment and print out the usage function for the failed NF. Here's what I'm imagining for the JSON confi

[2020-03-23 17:03] dennisafa opened #198 "Update advanced rings usage"
## Bug Report
We currently have an example of advanced rings being used in the scaling example. The custom loop (used to poll on packets from the RX ring) updates stats incorrectly.

**Current Behavior**
The current advanced rings example updates the NF stats after enqueueing packets onto its TX ring, as seen [here](https://github.com/sdnfv/openNetVM/blob/develop/examples/scaling_example/scaling.c

[2020-03-23 19:32] kevindweb commented on #34
Can we assume this is no longer a problem? If it's still an issue, how can we clean this up?

[2020-03-23 19:39] twood02 commented on #34
I suspect it has been resolved by our updates.  I will close the issue and it can be reopened if it comes up again.

[2020-03-23 19:39] #34 closed

[2020-03-23 19:56] kevindweb commented on #174
Is this something we can fix or close? If the current ONVM version works, this probably won't happen again?

[2020-03-23 20:11] kevindweb commented on #186
This should have been closed when Ben's #197 was merged

[2020-03-23 20:11] #186 closed

[2020-03-23 20:12] kevindweb commented on #100
Should have been closed with #197

[2020-03-23 20:12] #100 closed

[2020-03-23 20:25] kevindweb commented on #121
Let's have someone update these sections.
[Packets Received](https://github.com/sdnfv/openNetVM/wiki/Overview#where-are-packets-first-received)
[NF Packets](https://github.com/sdnfv/openNetVM/wiki/Overview#how-do-nfs-process-packets)
[Packets Sent](https://github.com/sdnfv/openNetVM/wiki/Overview#how-are-packets-sent-out-of-the-server)
Please comment if you'd like to take one of these on.

[2020-03-23 20:48] #192 closed

[2020-03-23 20:59] kevindweb commented on #48
Do we think this can be closed?

[2020-03-23 22:39] #48 closed

[2020-04-02 15:28] kevindweb opened #200 "Memory Leaks"
## Bug Report
This is long overdue, but we need to publish some fixes to memory leaks in the repo. I will outline 2 tools and how to use them for finding these leaks. We need someone to take the task of fixing these. I will be a secondary contributor, helping whoever steps up if they need it along the way. This is a great way of diving into the C codebase with a goal, albeit challenging. Please co

[2020-04-04 08:55] rohit-mp commented on #139
Hi,

Could I have a try at this?

Would adding extra checks in openNetVM/onvm/go.sh before starting the manager be a suitable place for this? I was thinking of adding a check to verify if the environment variable `ONVM_NIC_PCI` has been set first, and if yes, check if the kernel driver in use is one of the supported DPDK drivers as mentioned in the dpdk-devbind.py script.

Is there any simpler/bet

[2020-04-04 16:36] dennisafa opened #201 "Replacing libc functions with DPDK functions"
## Optimization

**Describe the solution you'd like**
We use libc functions in some parts of our NF's and manager code. This includes calls like `malloc` or `memcpy` or `strcpy`. DPDK [recommends](https://doc.dpdk.org/guides/prog_guide/writing_efficient_code.html) using their own functions, as they are optimized for the data plane environment. We'd like to identify points in the critical datapath

[2020-04-08 18:33] rohit-mp opened #203 "Incorrect packet information being printed by UDP helper function"
## Bug Report

**Current Behavior**
On generating UDP packets using Pktgen, the src_port and dst_port values do not match as depicted by an NF (`do_stats_display`) and Pktgen.

**Expected behavior/code**
The src_port and dst_port values should be consistent.

**Steps to reproduce**
Generate UDP packets using Pktgen on one node and run simple_forward NF with service ID 1 on the other node.
The conf

[2020-04-08 20:18] dennisafa commented on #203
Thanks, good find!

[2020-04-09 02:24] #188 closed

[2020-04-09 02:25] #174 closed

[2020-04-09 02:26] twood02 commented on #108
Closing this as no longer active. If you have further questions, let us know.

[2020-04-09 02:26] #108 closed

[2020-04-09 03:05] kevindweb commented on #139
Sorry I didn't see this. That sounds like a great idea. We don't want to stop the user from running without a NIC everytime. We only want it to stop when the user tries to use a specific number of ports without them being available. If the user runs go.sh with 2 ports, both NICs should be bound for example.

[2020-04-10 20:29] dennisafa opened #206 "Release 20.05"
# Release 20.05

We're going to try and have a release by the end of May. Here are some PR's that we would like to review and merge. Let's try to have review's finished in these next few weeks. I'll update this with some open issues that I think are feasible to complete in the timeframe.

## Pull requests to merge

### Simple Forward with Token Bucket NF #199
- [x] PR created by @rohit-mp
- [x] Re

[2020-04-11 03:29] Yongeverhuang commented on #203
Hello, i meet another question in this.
when i config the lua script:

pktgen.set_mac("0", "6c:92:bf:ba:95:6f");
pktgen.set_ipaddr("0", "dst", "10.100.3.10");
pktgen.set_ipaddr("0", "src", "10.100.3.1");

pktgen.set_proto("all", "UDP");
pktgen.set_type("all", "ipv4");

pktgen.set("all", "size", 64)
pktgen.set("all", "burst", 32);
pktgen.set("all", "sport", 1234);
pktgen.set("all", "dport", 5678);

[2020-04-12 22:54] bdevierno1 commented on #200
Could you assign this to me @kevindweb ?

[2020-04-13 11:28] hkurj opened #208 "install error"
## Bug Report

when I follow the installation documentation, run the install script to compile DPDK.

[code]

reported an error

[code]

[2020-04-13 15:08] dennisafa commented on #208
Anyway you could tell us: version of GCC, OS, and NIC setup? Thanks!

[2020-04-14 01:56] hkurj commented on #208
thanks！
gcc version : 7.5.0
system : ubuntu 18.04.4
I am not very clear about the specific nic setup.  When I run lspci I see

[code]

[2020-04-14 08:48] hkurj commented on #208
I think this problem may be the configuration of the compiler

[2020-04-14 10:52] dennisafa commented on #208
It looks like this may be an outdated version of DPDK, since fallthrough statement error catching is related to a GCC update. Could you please verify that you have the latest version of DPDK in the repo?

[2020-04-15 02:09] hkurj commented on #208
Thank you for your answer, I will verify this question

[2020-04-15 08:41] rohit-mp commented on #139
You seem to have missed an '=' in the grep statement. The actual output we get is:
[code]

The issue seems to be the call to `rte_eth_macaddr_get` while creating pkts (`nf_setup`) in scaling and speed_tester NFs.

https://github.com/DPDK/dpdk/blob/0da7f445df445630c794897347ee360d6fe6348b/lib/librte_ethdev/rte_ethdev.c#L2567-L2574

https://github.com/DPDK/dpdk/blob/acec04c4b2f5c75d244319e1d0ca17ea7

[2020-04-15 20:46] kevindweb opened #210 "Segmentation Fault From ONVM Web"
## Bug Report
Due to my own code, there is a segfault only when running manager with `-s web`.

**Current Behavior**
When we run any configuration of manager with `-s web`, I can get it to segfault every time. The issue is caused by #82 . Key points:
* It does not matter what NF you run, just run one
* You don't actually have to look at the web output, that's irrelevant to this issue
* Things only

[2020-04-15 21:09] kevindweb commented on #139
The tough thing is that we only want to do your suggestion if there is no nic bound. So we really want to do something like "try" to `rte_eth_macaddr_get` and if it fails, set a fake MAC address. This is because if it would have failed, it means there is no NIC bound. If there is a NIC bound, we might want to use `-m <dest_mac_address>` to send out, and therefore cannot use a fake MAC as the sourc

[2020-04-16 08:12] rohit-mp commented on #139
Ah sorry didn't notice the `-m` option. It is actually possible to 'try' to get the mac address.
Based on how the dpdk lib throws the error, we could check if a NIC is bound or not by:
[code]

I tested this and I no longer get the Invalid port error output.
We'd also need an else condition here to fake the MAC address if a NIC is not bound.
I hope I'm not missing anything.

[2020-04-16 16:16] kevindweb commented on #139
Yup, sounds like a great idea. The others may correct me if I'm wrong, but if we look at the [rte_eth_macaddr_get](https://github.com/sdnfv/openNetVM/search?q=rte_eth_macaddr_get&unscoped_q=rte_eth_macaddr_get) uses in the repo, multiple examples use it, not just speed_tester/scaling. We might want to make a macro called `onvm_get_macaddr` for example that takes checks beforehand and if it fails,

[2020-04-16 16:41] rohit-mp commented on #139
So, `onvm_macaddr_get` would check if a NIC is bound and if yes, return the MAC address, else return a fake safe MAC address?
What would be a good place to add this?

[2020-04-16 17:20] kevindweb commented on #139
Maybe `onvm_nflib/onvm_common`? We want it to be really quick because it's called in `pkt_handler` in `load_balancer.c`, which is why I suggested the macro.

[2020-04-17 07:53] rohit-mp commented on #139
I'm having trouble passing a pointer to a macro and then accessing its data structures. I looked up online to see some mention that it's not possible since macro only work on the textual level and they don't deal with data structures.

Also, the calls to `rte_eth_macaddr_get` in `onvm_stats.c` and `onvm_init.c` is properly implemented with checks on the number of ports already. So the only issue i

[2020-04-19 21:40] #182 closed

[2020-04-19 21:41] #203 closed

[2020-04-23 16:10] dennisafa commented on #208
Following up with you on this - did you resolve the issue?

[2020-04-24 18:30] #185 closed

[2020-04-24 18:30] #139 closed

[2020-04-29 11:37] hkurj commented on #208
Thank you. I forgot to answer. I can compile successfully by reducing the GCC version to 5.5

[2020-04-29 12:02] dennisafa commented on #208
You may have an outdated version of DPDK in that case - it should compile with version 7.5 and above.

[2020-04-29 18:56] catherinemeadows commented on #121
I can work on the 'NF Packets' section

[2020-04-29 23:43] twood02 commented on #161
The solution is we should update our `scripts/*.py` to use python 3 and be sure that the install script adds python3 as a dependency.

Check if DPDK 18.11 requires python 2 for its user tools scripts. If so we should install both python2 and python3.

[2020-05-06 05:47] hkurj commented on #208
I download DPDK source code according to your installation tutorial
[code]

[2020-05-06 12:15] hkurj commented on #208
In addition, I also downloaded the latest source code from the DPDK official website, but there is no ko file compiled with gcc7.4

[2020-05-07 00:58] kevindweb commented on #208
My best suggestion would be to start over. If you think that all the other requirements are installed, ONVM version 19.07, gcc 7.5.0, Ubuntu 18.04, all `apt` packages, etc, then it might have been a problem with the order of installation of things. Since onvm compiles fine without any NICs I would say try not to bind them on the `install.sh` (for testing). Doing the bare minimum installation will

[2020-05-07 02:54] hkurj commented on #208
Thanks , i try again

[2020-05-08 07:59] hkurj commented on #208
# environment
![image](https://user-images.githubusercontent.com/15688662/81384672-99a8c680-9144-11ea-8d94-736887a06c99.png)

![image](https://user-images.githubusercontent.com/15688662/81384715-a6c5b580-9144-11ea-9a0b-8bc29d0a4a40.png)

# error
![image](https://user-images.githubusercontent.com/15688662/81384800-c52bb100-9144-11ea-9c44-ebf5002cb073.png)

I have always had problems here, could you

[2020-05-08 20:04] kevindweb commented on #208
Are you running this in a VM? I got this from the `nfv1-vm` name. I have never run onvm in a VM. It very well could be the issue. Someone can correct me but we've run on bare metal for a long time. Keep in mind I may be totally offbase but this is the first thing I'd try

[2020-05-09 02:15] hkurj commented on #208
Yes, I run in vm, but I don't think it will cause compilation problems.

[2020-05-10 20:54] kevindweb commented on #198
I think this was completed when #212 was merged. If so I'll go ahead and close it

[2020-05-11 23:05] #198 closed

[2020-05-21 16:00] bdevierno1 commented on #201
I've been working with @kevindweb on #200 . I think I could switch the libc functions as well.

[2020-06-02 22:02] catherinemeadows commented on #60
@knodir Hello, just wanted to follow up on this and see if this is still in progress or if you need any help/feedback

[2020-06-02 22:11] knodir commented on #60
Oh, hi @catherinemeadows! It seems I moved on to the other parts of the code and never completed git commit 9025f45. I'll get back to this sometime this weekend. Let me know if you need it more urgently.

[2020-06-02 22:17] catherinemeadows commented on #60
@knodir Sounds great! No rush, just wanted to check in. Let us know if you have any questions.

[2020-06-05 04:28] kevindweb commented on #190
@onvm can you just run?

[2020-06-05 14:29] twood02 commented on #208
This seems to be a problem with compiling DPDK - we suggest you contact the DPDK users mailing list if you still have this issue.

[2020-06-05 14:29] #208 closed

[2020-06-08 19:23] sreyanalla opened #222 "NF Runtime Errors"
## Bug Report
Runtime errors pertaining to `arp_response`, `load_generator`, `flow_table` NFs.

**Current Behavior**
The following errors are encountered:
- `arp_response` : NF exits due to "invalid command-line arguments" even if arguments are valid
- `load_generator` : NF exits because it "failed to obtain MAC address" with `-m`
- `flow_table` : hangs indefinitely after NF start up. NF need to b

[2020-06-09 14:56] #206 closed

[2020-06-09 15:33] catherinemeadows commented on #222
I can work on the fixes for the load_generator NF

[2020-06-10 18:43] archit-p opened #225 "Wireguard for OpenNetVM"
[Wireguard](https://wireguard.com) is a relatively new, lightweight and fast VPN protocol. Would it be a good idea to implement Wireguard over openNetVM for packet processing?

I have a few questions to discuss in this regard.

1. Are there possible use-cases for VPNs in NFs?
2. On Linux, WireGuard works by adding a network interface. This interface is then used for tunneling. For openNetVM, what

[2020-06-10 19:34] Vivek-anand-jain opened #226 "openNetVM to use latest version of DPDK"
The current version of ONVM is using DPDK v18.11.  The DPDK project has released a newer version sometime back in May 2020. The release notes can be found here:
https://doc.dpdk.org/guides/rel_notes/index.html

I find some constants/function names have been changed since DPDK version 19.11:
https://doc.dpdk.org/guides/rel_notes/release_19_11.html (section 3.3)

Note: The DPDK has announced that th

[2020-06-11 09:42] archit-p commented on #225
@kkrama we'll perform a study of the security guarantees made by Wireguard, and how it compares against OpenVPN and IPSec. Currently, their website contains a [formal verification](https://www.wireguard.com/formal-verification/) of the protocol. I'm in the process of understanding the verification steps.

Wireguard [claims](https://www.wireguard.com/performance/#results) that it is faster than bot

[2020-06-11 12:09] twood02 commented on #225
Yes, that picture is pretty much what I was thinking.  Instead of "cloud" in the middle it might be "WAN" which would imply even less control/security as packets flowed through it.  Or if we don't fully trust the cloud then your picture is the same thing.

I think this is because VPNs aren't trying to protect against attackers on the same host as the VPN endpoint.  If we make the same assumption,

[2020-06-11 21:45] EthanBaron14 opened #228 "Manager go.sh port mask incorrectly counting ports available"
## Bug Report

**Current Behavior**
When running go.sh for the manager, the check on line 57 compares the raw hexadecimal port mask passed in to the number of NICs available to run the manager on.

**Expected behavior/code**
When running go.sh for the manager, the check on line 57 should convert the hexadecimal port mask passed in to binary then compare the number of '1' digits to the number of NI

[2020-06-11 21:46] EthanBaron14 commented on #228
This is a high priority issue as it dramatically impact the performance of the manager in release 20.05. Accordingly, I'll try to get this done within the next few hours so it can be tested and merged into 20.05 before EoW.

[2020-06-13 13:36] archit-p commented on #225
Thanks for clarifying!

We're currently working on understanding the wireguard internals and what will need to be changed in order to make it work with openNetVM. We'll share a document with the design proposals here, and also get feedback from the Wireguard community on how to go forward.

[2020-06-13 14:34] kkrama commented on #225
We should think a bit carefully about what a VPN NF's role is. What are the
service assurances it provides, and if it is any different than a VPN
appliance?
Quoting Tim: "If we don't trust the other NFs (for example if ONVM is being
used by a network provider to support NFs from different tenants), then we
would need to be more careful about where the decrypted packets go (it
would be OK for the e

[2020-06-14 23:29] kevindweb opened #232 "NF Unit Testing"
## Feature Request for Unit Tests

**Is your feature request related to a problem? Please describe.**
We currently don't have a way to test arbitrary NFs that are developed onto the platform. This means that if new bugs come into ONVM, CI doesn't know unless they affect Speed Tester or Basic Monitor.

**Describe the solution you'd like**
Unit testing would be a great way to fix this. Every new NF

[2020-06-14 23:36] dennisafa commented on #232
This is a good idea. This would have to be coupled with something that automates packet sending to the NF on startup..maybe an instance of speed_tester with a standard pcap file? I think it might be difficult to do it with pktgen on each test since that'll require a 2 node setup for the unit tests.
I also wonder how abstract the NF unit tests should be. Are we just testing for segfaults, or specif

[2020-06-15 04:08] bdevierno1 commented on #232
I was thinking once we get @catherinemeadows pr merged we will create a json with a NF chain of most of our main NFs. We will need to figure out what will be the expected output of this NF chain.

[2020-06-15 04:52] bdevierno1 commented on #232
I think this is true it might be a bit harder to test with CI as maintainers will have to look out for NF outputs as well as other things such as seg-faults. I think if we could make a platform such that it is easy for developers and maintainers to run a broad range of test locally that will be good idea.

[2020-06-15 09:04] BuzzRage commented on #228
Hi, I think I had the same problem.
This line ( `onvm/go.sh line 56` ) probably don't have the expected behavior:

[code]
when you remove the `sed` command, everything works fine.

[2020-06-16 12:05] twood02 commented on #161
resolved by #221

[2020-06-16 12:05] #161 closed

[2020-06-16 15:38] catherinemeadows opened #233 "Unable to re-launch NF with same instance ID"
## Bug Report

**Current Behavior**
When re-launching an NF with the same instance ID (from either command line or from a JSON config file), the manager exits with the errors:
[code]

and the NF hangs on
[code]

This bug occurs when re-launching an NF with the same instance ID (even if the service ID is changed).

**Expected behavior/code**
NFs should successfully re-launch if assigned the same in

[2020-06-16 16:28] catherinemeadows commented on #233
@bdevierno1 this might be a fix that can be included in your [PR](https://github.com/sdnfv/openNetVM/pull/216)

[2020-06-18 15:07] #228 closed

[2020-06-18 15:08] EthanBaron14 commented on #228
This is fixed in PR #229.

[2020-06-20 01:32] khaledshahine opened #237 "nf_router parameters"
![nf_router](https://user-images.githubusercontent.com/57259314/85188385-4a5ac780-b2a6-11ea-8e67-481390011929.JPG)

I want to know what's the parameter next to the IP in the nf_router (route.conf file) refer to ?

[2020-06-20 19:11] kevindweb commented on #237
I've never worked with the NF router, but here is what I found in the [nf_router.c](https://github.com/sdnfv/openNetVM/blob/master/examples/nf_router/nf_router.c#L164). It references a struct called `fwd_nf` [here](https://github.com/sdnfv/openNetVM/blob/master/examples/nf_router/nf_router.c#L68) that takes in the IP address (like 11.0.0.17) and the NF destination number (to fill `meta->destinatio

[2020-06-20 19:45] koolzz commented on #237
Yeah that's right, it's the service is of the NF to forward to

[2020-06-22 15:22] twood02 opened #238 "Flow Tracker Improvements"
## Feature Request

The [`examples/flow_tracker`](https://github.com/sdnfv/openNetVM/tree/master/examples/flow_tracker) NF can be improved in several ways

**Describe the solution you'd like**

 - [ ] Should use `nf_function_table->setup` to setup state
 - [ ] Use nf->data field instead of global data
 - [ ] rename `clear_entries` to `clear_expired_entries`
 - [ ] better handle the case where flow

[2020-06-22 18:28] twood02 commented on #237
@khaledshahine - please let us know if you have other questions. Also, we would be grateful if you can make a pull request to add a line to the Readme.md file documenting the file format.

[2020-06-23 22:01] sreya519 commented on #222
Looked into/ran `arp_response` and it seems like this issue no longer persists. If anyone else could validate this that would be great.

[2020-06-23 22:03] catherinemeadows commented on #222
I was never able to replicate this issue, so I'm not sure what was happening. Maybe someone else can verify too

[2020-06-27 16:18] kevindweb commented on #232
Here are a few good resources we should use to get started on this. This guy has a nice [article](http://vandervoord.net/blog/2015/5/19/unit-test-how-infinite-loops) talking about CMOCK. It might work for our case, but the main point is that we need to view NFs as infinite processes that need to be "bounded" in some way for the testing of their functionality.

[2020-06-28 09:20] Yongeverhuang opened #242 "NF flow_table runtime"
## Feature Request
In this way, when i want to set differert traffic flows forward to different NF. I found that flow_table NF could set service chain rules to  get the function. But when start the flow_table NF. It could not get SDN ring or preforming tx stats in ‘stdout’, anything else need to implement or some wrong operations？？？
**Is your feature request related to a problem? Please describe.*

[2020-06-28 09:24] Yongeverhuang commented on #237
In my test result， nf_router forward flow by Destination IP， and the action is next NF to forward. Like this  [Destination IP，Next NF]. But it could not set multiple next NFs, i also want to someone give me some suggestion.

[2020-06-28 12:41] twood02 commented on #237
Can you clarify what you are trying to do? Are you trying to send from the router to one of several NF replicas? The easiest way to do that is to start all the NFs with the same service ID. Then ONVM will automatically load balance across them.

[2020-06-28 14:42] Yongeverhuang commented on #237
Not that way, multiple next NFs means a service chain. Just like this : [SFC : 2(service id) 3  4 5 ]. But flows need to go through 2 5 3. nf_router first forward  flows to 2, but could not set after 2 will be forward to 5, because nf 2 set the default action is forward to 3. I also try to use NF (flow table ) .but it could not run....NF (flow table )README.md doesn't give me help.

[2020-06-29 13:35] bdevierno1 commented on #242
When you run the flow table NF do you have to manually kill the process? If so it could be due to a bug [here](https://github.com/sdnfv/openNetVM/blob/master/examples/flow_table/flow_table.c#L296) where it is caught in an infinite loop searching for an available core.
#243 uses onvm's flow table api to set rules and then perform a lookup to forward packets out of a port. This could possibly be mod

[2020-06-29 17:09] dennisafa commented on #233
Yea this ones on me - when I moved the NF ring allocation from the manager to the NF, I didn't account for the fact thats rings need to be allocated from a secondary process. In my latest PR (NF pool) i wrote a function that allocates a single ring from the manager using a NF -> manager communication mechanism. When we merge that we should fix this issue by having the NF use that function whenever

[2020-06-30 01:06] kevindweb commented on #232
@sdnfv/gw-undergrads I updated the issue guide with the title "06/29/2020 Meeting Notes". Take a look to see if you want to participate in the Unit Testing framework. These notes are from a meeting with Tim this afternoon.

[2020-06-30 13:42] twood02 commented on #237
OK, in that case you will want to use to use the FlowDirector API (https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_nflib/onvm_flow_dir.h). This lets you specify a service chain (a list of actions, like `TO_NF 2, TO_NF 3, TO_NF 4, OUT_PORT 2`) to be applied to all packets in a flow. Once a rule is set for a flow, the ONVM Manager's RX thread will apply the first action (in this example, se

[2020-06-30 13:52] Yongeverhuang commented on #242
@bdevierno1 hello, it is true that when I encountered the flowtable does not work properly and needs to kill the process.But the NF you mentioned, I tested it seems like flows  through ports forwarding, it doesn't  match the service chain according to the rules.For example, I have deployed 4 NFs, the default order is 1(NF)->2->3->4, now I want to match a rule to make a certain flow through 2(NF)->

[2020-06-30 23:34] MauriceMedhat opened #244 "Packet's src & dst IPs in bridge and RX size."
My topology is 3 nodes on cloudlab, pcktgen on node1 and bridge on node2. When I start generating packets from node1 to node3, on the onvm manager it appears that all packets were received and transmitted by it but on node3 only 255 appears in RX packets and the rest are on RX missed, is there a way to increase the port to receive more than 255 packets only?
At the bridge the packets appear to hav

[2020-07-01 02:26] Yongeverhuang commented on #244
Currently i try the experiment on node 1 and 2, Pktgen generating packets from node1 to node2 through directly connected port. I had the same problem in the beginning, after that someone give me advice : in node 1 testpmd uses _set fwd io_ to make packets forward between ports, then it works nomal. Wish it help you.

[2020-07-01 13:09] EthanBaron14 commented on #244
Hi @MauriceMedhat, thanks for posting this. Over the last few days, I have been working on a guide for configuring a CloudLab three-node topology using ONVM Manager and Bridge NF on the intermediate node (node2). The first step that I would recommend for troubleshooting the issue that you're having would be to run through that. It's not entirely ready to be added to a Wiki on here (just some basic

[2020-07-01 16:19] twood02 commented on #244
If the link above is showing you broken image files,  here is a PDF version that might work better.
[ONVM_Documentation.pdf](https://github.com/sdnfv/openNetVM/files/4859078/ONVM_Documentation.pdf)

[2020-07-02 02:54] Yongeverhuang commented on #237
I have an expectation whether it is possible to control the service chain flow tables by connecting the SDN controller. I seem to this mentioned in _NFVnice_, but I can’t understand the way it is deployed. May i get the guide for this form the team member？ Thanks a lot.

[2020-07-02 07:43] rohit-mp opened #245 "manager fails with flent, poor performance of bridge NF as compared to l2fwd"
## Bug Report

*Current Behavior*

onvm manager stop processing pkts after some time while running [flent](https://flent.org/) tests, and performance with bridge NF as compared to l2fwd is low.

*Steps to reproduce*

The following script with lines 30-39 commented out was used to see this behavior:
https://gist.github.com/archit-p/2ddfca67fb691140b02c87a5bb56fc04

The topology of the setup:
[code]

[2020-07-02 12:44] twood02 commented on #245
Interesting.  We haven't tested with flent before.  We will talk about this in our meeting today and see if we can reproduce it.

[2020-07-02 13:30] twood02 commented on #237
@Yongeverhuang in NFVNice we didn't want the SDN lookup cost to influence results, so the flow chain rules were defined with the FlowDirector API mentioned above.  If you need an SDN controller to provide the rules, then you will have to look at the `flow_table` example. But unfortunately it doesn't have very much documentation right now.  If you are trying to use it you will need to run an SDN co

[2020-07-02 23:22] MauriceMedhat commented on #244
My topology is with 3 nodes not 2 because Im testing the bridge but I have tried it in my topology and didnt send from node 1 to node 3 with set fwd io.

The documentation was helpful but didn't answer my questions.

[2020-07-03 00:10] twood02 commented on #244
@MauriceMedhat - you report that node3 is reporting a high number for rx-missed.  What is running on node3?  Is it just pktgen? If that host isn't running ONVM it seems like it must be an issue with your DPDK or pktgen configuration.

Does the ONVM manager on node2 report that it is receiving and sending out the NIC port at the correct rates?

[2020-07-03 00:49] kevindweb commented on #245
@rohit-mp thanks for testing this. Flent seems like an interesting tool. I've seen this issue a few times before in Pktgen last year but wasn't able to replicate it for testing. When `ping` cannot connect, what do you need to do to bring up the interface again, is it as simple as unbinding the interface, or an entire reboot? Was there any relevant debug output from ONVM manager or bridge when it r

[2020-07-03 09:39] rohit-mp commented on #245
I'm seeing the same issue now with Pktgen as well. Pktgen shows a tx of 1000Mbps but manager shows 0 rx_pps (on a 1G NIC).

Restarting the manager resolves the issue for me with both Pktgen and Flent

There was no debug output from either when this happened

[2020-07-03 13:32] mishal23 opened #246 "installation error"
## Bug Report

**Steps to reproduce**
compiling dpdk using the install script
[code]

**Environment**
- OS:  Ubuntu 20.04
- onvm version: latest
- dpdk version: 18.0
- gcc version: 9.3.0

**Error log**

[code]

@rohit-mp

[2020-07-03 13:39] twood02 commented on #246
We are in the process of making some updates so ONVM will compile correctly on Ubuntu 20.04 and will release those changes this month.

In the meantime, @sreya519 may be able to give you some tips or point you to her fork with working code.

[2020-07-03 16:26] sreya519 commented on #246
Hi Mishal,

It seems that `-Werror=address-of-packed-member` is a new warning that's enabled by default by GCC 9.3. I'm currently working on replicating your errors to see where they originate. I'll get back to you soon regarding that.

In the meantime, I may be able to present an alternative. We recently had contributions that updated the DPDK version ONVM uses from 18.11 to 20.04. My [`dpdk-vsn-

[2020-07-04 06:55] mishal23 commented on #246
Thanks for this alternative, yes DPDK 20 works for us, we tried, it compiles properly without any errors.

[2020-07-04 10:32] MauriceMedhat commented on #244
Node3 has testpmd running on it to check the port stats, node1 has the pktgen to send to node3. Yes ONVM manager seems to be working fine on node2 as you can see in the picture. My questions are can we increase the RX on node3 to receive more than 255 packets and why does the packets have one IP address (Node3 IP which is 192.168.3.3) for the source and destination?
![onvm mgr](https://user-images

[2020-07-05 14:33] rohit-mp commented on #245
I was trying to check why this happened, and realized that the dpdk plot above was with dpdk20.05
On trying onvm with dpdk20.05 from [dpdk-vsn-update](https://github.com/sreya519/openNetVM/tree/dpdk-vsn-update), I see that onvm performs as expected and I don't see the issue of the manager stopping the processing anymore as well.

onvm with dpdk20 with 1 tcp flow:
![1flow-onvm-dpdk20](https://user-

[2020-07-06 03:48] bdevierno1 commented on #60
Hi @knodir are you currently working on this? If not I would like to volunteer to take this up.

[2020-07-06 06:02] knodir commented on #60
Hi @bdevierno1,

Yes, please go ahead to take over this. I tried to complete this couple weeks ago but the environment I had during my 9025f45 commit development is not there anymore. So, I don't have a proper setup to test this feature anymore. Feel free to use parts of my half-baked changes in 9025f45.

Thanks for chiming in!

[2020-07-07 09:24] Yongeverhuang opened #247 "NF test_flow_dir runtime Segmentation fault"
NF test_flow_dir could run likes others simple_forward NF. When start it in onvm 19.07, it lanches in stdout stats, but it will  popup exception quickly likes the picture. Before pktgen generates packets to it, it performances normal, and then meet error. Any cases missed when create test_flow_dir?
**Current Behavior**

![stdout](https://user-images.githubusercontent.com/25575462/86758751-a67b6500

[2020-07-08 00:32] kevindweb commented on #245
I think we're good to close this issue?

[2020-07-08 10:38] archit-p commented on #225
@rohit-mp and I have come up with a design for the NF, based on using multiple threads to offset the cost of heavy crypto operations. For making the existing wireguard code work with OpenNetVM or DPDK, we plan to replace the Linux skbuf with rte_mbuf. Aside from this, we plan to replace the existing work queues with rte_ring for making them lockless, and the Linux timers to DPDK timers.

The follo

[2020-07-08 11:02] #245 closed

[2020-07-20 16:03] bdevierno1 commented on #242
Hi I've created an example in #248. Let me know if this is similar to what you were looking for or if I can be of any further help.

[2020-07-25 10:36] rohit-mp opened #250 "Destination used as NF Service ID in Scaling example with default callback"
## Bug Report

**Current Behavior**
While the usage [here](https://github.com/sdnfv/openNetVM/blob/27d9ed5d06ebcc987f36f8860b1935aaddc8cf1c/examples/scaling_example/scaling.c#L111) mentions that the functionality of the destination provided depends on the mode, I see that the when the NF is run in default callback mode, the destination is used for both for [forwarding the pkts](https://github.com/

[2020-07-28 20:11] #246 closed

[2020-08-30 12:12] felipeay91 opened #255 "Error while running "helloworld""
Hi,
I installed DPDK 19.02 using `./usertools/dpdk-setup.sh` and am facing a error while running the
_helloworld_ example. When running `./helloworld` the error is
_Illegal instruction (core dumped)_ and when running `sudo ./helloworld`
then it is _Illegal instruction_. My environmental variables are declared in
`~/.bashrc` as:
[code]

The output of `lscpu` is:
[code]

I would appreciate any help

[2020-08-30 12:57] twood02 commented on #255
This sounds like a DPDK issue (not OpenNetVM) so you will probably get more help from the DPDK users mailing list https://mails.dpdk.org/listinfo

If you follow our install guide and use our scripts it might fix your issues: https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md

Our current release uses DPDK 18. Our next release coming in a couple weeks uses DPDK 20 (or you can get this n

[2020-08-30 14:56] felipeay91 commented on #255
Hi,

Thanks for your reply. I reinstalled DPDK following the
steps provided but the error persists. Anyway, I'll send a message to
the mail list and will wait for a response.

Thanks,
Felipe

[2020-08-30 16:50] dennisafa commented on #255
Can you please post the way you installed DPDK? If you have any additional
parameters you included when building please post them.

On Sun, Aug 30, 2020 at 8:13 AM felipeay91 <notifications@github.com> wrote:

[2020-08-30 17:32] felipeay91 commented on #255
Hi @dennisafa,

I installed in the way explained here: https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md
and followed all the steps as mentioned. The only thing I did different was the environmental variable
declaration `export ONVM_NIC_PCI=" 07:00.0 07:00.1 "` were I declared only one NIC and therefore the
command were `export ONVM_NIC_PCI=" 02:00.0 "`.

The list of NICs is:
[code]

[2020-08-30 18:04] dennisafa commented on #255
Did you bind an associated igb_uio module or something similar to the 02:00:00 NIC? Whats the output of ./usertools/dpdk-devbind.py --status?

[2020-08-30 18:51] felipeay91 commented on #255
Hi,

I think there's no such step for binding (I think binding happens when running `./install.sh`?)...
This is the output of `./usertools/dpdk-devbind.py --status`?

[code]
Thanks.

BR,
Felipe

[2020-08-30 18:57] dennisafa commented on #255
Ok that looks good - just making sure it was bound. In your original post you said you ran just sudo ./hello-world. Did you include the arguments, i.e sudo ./build/helloworld -l 0,1 -n 1?

[2020-08-30 19:06] felipeay91 commented on #255
Hi @dennisafa,

Yes, I have run it with the arguments `./build/helloworld -l 0,1 -n 1` and get `Illegal instruction (core dumped)`,
and without the arguments `./build/helloworld` and get the same mistake. Looking on the web I've run even
.`/build/helloworld -c 1` but the same thing.

Thanks.

BR,
Felipe

[2020-08-30 19:10] dennisafa commented on #255
Can you try the intel card? I think netxtream broadcom may not be supported: https://core.dpdk.org/supported/

[2020-08-30 19:37] felipeay91 commented on #255
Hi @dennisafa,

I have tried what you recommended, but the problem persists. In my case rebooted the server, change the environmental variable `export ONVM_NIC_PCI=" 06:00.0 "` and run `./install.sh` again. This is the result:

[code]

After running `sudo ./build/helloworld -l 0,1 -n 1`, the error `Illegal instruction` still appears.

BR,
Felipe

[2020-08-30 19:40] dennisafa commented on #255
Could you try making and running ONVM (not DPDK test programs) and let me
know if it still fails?

On Sun, Aug 30, 2020 at 3:37 PM felipeay91 <notifications@github.com> wrote:

[2020-08-30 19:58] felipeay91 commented on #255
Hi @dennisafa,

I followed the instructions in "Make and test openNetVM" section, but when running
the manager `./onvm/go.sh 0,1,2 1 0xF8 -s stdout` I get the following error:

`./onvm/go.sh: line 122:  1863 Illegal instruction     sudo "$SCRIPTPATH"/onvm_mgr/"$RTE_TARGET"/onvm_mgr -l "$cpu" -n 4 --proc-type=primary ${virt_addr} -- -p ${ports} -n ${nf_cores} ${num_srvc} ${def_srvc} ${stats} ${stat

[2020-08-31 18:48] dennisafa commented on #255
@felipeay91  Hmm it doesn't look like the I350 cards are supported either? I can't find them in the supported hardware link I sent you earlier.

[2020-08-31 18:54] twood02 commented on #255
I believe the DPDK Helloworld application shouldn't try to use any NICs, so I would expect it to work no matter what. Can you give the full output from running `sudo ./helloworld` ?

Are you in a special environment like a VM or container?  What OS distribution and kernel version?  Hopefully the DPDK list will respond, but we'll do our best to help.

[2020-09-01 07:33] felipeay91 commented on #255
Hi,

Thanks for your responses @dennisafa  @twood02 . I'm trying to install DPDK in "bare metal", so directly on a server
with no VM involved. The server runs Bionic Beaver as shown below:

[code]

And the Kernel version is:

`Linux felipe-thesis 4.15.0-112-lowlatency #113-Ubuntu SMP PREEMPT Fri Jul 10 00:19:23 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

The output of `sudo ./helloworld` is just `Il

[2020-09-01 12:25] twood02 commented on #255
It sounds like this can happen if you haven't compiled for the right architecture. See https://software.intel.com/content/www/us/en/develop/articles/cross-compile-data-plane-development-kit-dpdk-for-different-intel-platforms.html

We have always run on Intel CPUs but I see you are in AMD. AMD is supposed to be supported, but maybe the arch needs to be set differently.

[2020-09-02 20:21] bahare70 opened #256 "traditional DMA or DDIO"
Do receiving packets from NIC load into the memory or last level cache?
It means that openNetVM uses traditional DMA or DDIO?

Thanks in advance for your incorporation.

[2020-09-08 15:20] twood02 commented on #256
This is not something we have looked into.  OpenNetVM uses standard DPDK calls to retrieve packets from the NIC.  I *think* (but am not certain) that DPDK automatically makes use of DDIO technology if the hardware supports it, but you would have to check with the DPDK code to be sure about this.

[2020-09-18 00:10] #190 closed

[2020-09-18 00:11] #200 closed

[2020-09-18 00:11] #201 closed

[2020-09-18 00:12] #226 closed

[2020-09-22 09:21] BuzzRage opened #259 "Can't make Pktgen and ONVM work on the same machine"
## Bug Report

**Current Behavior**
Hi, I try to make PktGen works with OpenNetVM on the same machine. This machine has two NIC ports. I would like to generate packet with PktGen on one port, and then forward packets to a distant machine by passing through OpenNetVM and using the second NIC port. Here is dpdk-devbind output:
[code]
I'm trying different ways but nothing seems to work. I think I am

[2020-09-22 13:11] twood02 commented on #259
This is not something that we have tested so I'm not sure if it will work. In particular, if you want packets to leave pktgen and go to ONVM that might be tricky since pktgen tries to send directly out the NIC -- I think the packets would have to leave the system, go to a switch, and then be routed back to ONVM (or are you connecting one port directly to the other with a cable?)

In any case, it s

[2020-09-22 14:45] BuzzRage commented on #259
Thank you for your answer.

I will try to connect one port directly to the other, even if I guess the best way to send packets with pktgen to ONVM is to have 2 machines.

I am able to run pktgen without ONVM, but yes, I still need to read the documentation to understand DPDK configurations. I will test the `develop` branch, thank you for your advice !

I will also try to adapt the pktgen and onvm

[2020-10-09 14:06] twood02 opened #262 "Fixes to make things easier running on cloudlab"
TODOs:

Repo:
 - [x] fix DPDK version in readme
 - [x] Put ONVM version in the readme and make link to Release notes more obvious
 - [x] change `Makefile` to build both manager and examples (and maybe DPDK?)

On CloudLab:
 - [ ] in Cloudlab profile description tell users to run `ifconfig` and find which interfaces have 192.X addresses - those should be used for DPDK. Try to test on different node

[2020-10-27 13:40] JackKuo-tw opened #266 "Question: Network Adaptor Problem in VirtualBox"
I use Vagrant with VirtualBox and encounter some problems while executing the installation.

If I choose `virtio` as the network adaptor, the error seems to be the adaptor not support RSS: (But it finished the DPDK helloworld)

<img width="1160" alt="圖片" src="https://user-images.githubusercontent.com/21074047/97308648-10c14b00-189c-11eb-804e-483d8878e098.png">

Thus, I change the adaptor to `Intel

[2020-10-27 16:52] twood02 commented on #266
A possible explanation is that your script above doesn't show you actually binding the NIC to the DPDK userspace driver.  You can do that with our `setup_environment.sh` script (or with the DPDK scripts it calls).

If that doesn't resolve the issue, then it sounds like these are DPDK issues, not OpenNetVM specific. I suggest you contact the DPDK Users mailing list to see if they have suggestions.

[2020-10-28 05:56] JackKuo-tw commented on #266
@twood02 Thanks, I'll try to contact them.
`setup_environment.sh` shows that my NIC has already bound to **igb_uio**, and that should be the DPDK driver.

[2020-10-28 15:31] JackKuo-tw commented on #266
Actually, Intel 82545EM can pass helloworld, just take a very very long time.
In my test, use `time` command:
- real: 4m46s
- user: 0m2s
- sys: 0m0.1s

also, it can run `/onvm/go.sh` after a very long time wait.

---

But if I use QEMU + KVM, everything is fine and can pass all the tests in installation and so fast.
Here is my command:
`sudo qemu-system-x86_64 -smp 6 -hda ubuntu20.04.qcow2 -m 4g -

[2020-10-28 15:31] #266 closed

[2020-10-28 19:31] twood02 commented on #266
It would not be too difficult to disable RSS in ONVM. We can add this as a feature if it would be helpful. ONVM uses the RSS value to support load balancing among NFs with the same service ID.

[2020-10-29 03:28] JackKuo-tw commented on #266
That would be great for those who want to try it on common VM simulators. 👍
Do you mean modifying `ETH_MQ_RX_RSS` in `onvm_init.c` to `ETH_MQ_RX_NONE`? I did it and still failed...

[2020-11-02 09:53] JackKuo-tw opened #268 "Not enough cores to enable shared core support"
## Bug Report

**Current Behavior**

My ONVM is running in KVM + QEMU with 2 e1000 network adaptors.
Everything is fine except for the shared cores feature.

**Expected behavior/code**

Run the manager as normal.

**Steps to reproduce**

If this problem cannot be reproduced, I can provide the qcow2 image.

**Environment**

- OS:  Ubuntu 20.04
- onvm version:  v20.10
- dpdk version:  20.05.0

**Pos

[2020-11-02 21:59] kevindweb commented on #268
@JackKuo-tw we updated our manager `go.sh` syntax, so if you just type `./go.sh`, you will see a few options. This one should fix your problem though.
`./go.sh -k 1 -n 0xF0 -m 0,1,2,3 -s stdout -c`. The manager explicitly needs more cores than usual for shared core, so this will give the manager 4 cores for example (`-m 0,1,2,3`). This worked for me on a normal non-qemu environment, hopefully it h

[2020-11-03 03:07] JackKuo-tw commented on #268
@kevindweb Thanks for your help. But another problem is that my NIC doesn't have 2 ports...

![圖片](https://user-images.githubusercontent.com/21074047/97946187-9c6b3800-1dc4-11eb-8950-daa8688198b9.png)

[2020-11-03 03:30] kevindweb commented on #268
Can you take a screenshot of your dpdk setup? Do you have a port initialized? The command I sent is set for 1 port, so you might not have set up the port correctly? If you want to test without a NIC bound, just set `-k 0` instead.

[2020-11-03 05:15] JackKuo-tw commented on #268
@kevindweb You're right. Afer with `-k 0` arg, it works! Thanks a lot!
And here is the DPDK setup:

![圖片](https://user-images.githubusercontent.com/21074047/97951864-86667300-1dd6-11eb-9a9d-f292b31ee3fe.png)

[2020-11-03 05:15] #268 closed

[2020-11-03 14:14] twood02 commented on #262
Resolved by #263

[2020-11-03 14:14] #262 closed

[2020-11-03 14:15] twood02 commented on #259
Please re-open this if you are still having problems.

[2020-11-03 14:15] #259 closed

[2020-11-03 14:15] #256 closed

[2020-11-03 14:16] twood02 commented on #255
Please re-open if you are still having issues with this.

[2020-11-03 14:16] #255 closed

[2020-12-28 07:42] JackKuo-tw opened #273 "Wrong NIC port in pktgen lua example"
## Bug Report

**Current Behavior**

In the [lua script](https://github.com/sdnfv/openNetVM/blob/d056dc8aba2d422525d06695a63a314920f9d607/tools/Pktgen/openNetVM-Scripts/pktgen-config.lua#L64), the first arg of `set_mac` is "1".

**Expected behavior/code**

First arg of `set_mac` is portlist, which should be "0" for consistence.
Otherwise, the command `page main` will see the `MAC Destination` is 0

[2020-12-28 07:59] JackKuo-tw commented on #273
Oh, maybe I misunderstand it.
Which is a self-test script, not test with 2 nodes.

[2021-01-02 20:08] harunaadoga opened #274 "Container NFs Initialisation Error - Cannot open '/dev/hugepages'"
## Container NF Error

**Current Behavior**
Starting a new NF from a container gives memory(hugepage) initialisation error.

[Press Ctrl-C to quit ...]
EAL: Detected 6 lcore(s)
EAL: Detected 1 NUMA nodes
EAL: Multi-process socket /var/run/dpdk/rte/mp_socket_42_1b777dfeca48bc
EAL: Selected IOVA mode 'PA'
EAL: Probing VFIO support...
EAL: VFIO support initialized
**EAL: sync_existing(): Cannot open

[2021-01-03 17:18] kevindweb commented on #274
Thank you for reaching out with your environment. If I'm not mistaken `/dev/hugepages` does not exist on Ubuntu 18.04. It only exists on 20.04 (which is our stable version). I think the main problem is the incompatibility between your host 18.04 Ubuntu and the OpenNetVM `latest` container version 20.04 on Docker. What you could potentially do is change (in `docker.sh`) [here](https://github.com/sd

[2021-01-04 13:58] harunaadoga commented on #274
Thank you @kevindweb thanks for your response. I modified the docker.sh script to pull sdnfv/opennetvm:19.07, which pulls successfully after running the script. However, I still get the same error message (the NF wouldn't start from the container). Please what other suggestions would you recommend for fixing this? Do you think upgrading my host machine to 20.04 might fix this? or maybe not necessa

[2021-01-04 18:30] harunaadoga commented on #274
Hello @kevindweb I upgraded my host machine to Ubuntu 20.04 (now seeing /dev/hugepages directory on host machine), pulled the latest sdnfv/opennetvm Docker image, but I still get the same error message when I try running an NF in the container. If you could assist with this, it will be appreciated, thanks.

[2021-01-04 18:36] kevindweb commented on #274
@harunaadoga that is very weird that it's now at Ubuntu 20.04 and it still doesn't work.

Maybe try instead of this
`sudo ./docker.sh -h /mnt/huge -o /home/openNetVM -n Basic_Monitor_NF -D /dev/uio0,/dev/uio1`
doing this
`sudo ./docker.sh -h /dev/hugepages -o /home/openNetVM -n Basic_Monitor_NF -D /dev/uio0,/dev/uio1`

It maybe a problem with mapping the incorrect volume?

[2021-01-04 18:56] harunaadoga commented on #274
Thanks @kevindweb it works now after changing /mnt/huge to /dev/hugepages. Was trying to find out if running NFs from the containers gives a higher/lesser packet processing rate, this seem to be same as running them on the host machine (at least so far). Will try this with different NFs to observe the behaviour.

Thanks once again for helping out!

[2021-01-04 19:01] #274 closed

[2021-01-12 07:56] JackKuo-tw opened #275 "When Congestion occurs with shared core, number of pkt processing is abnormal"
## Bug Report

**Current Behavior**

When there are 2 NFs share with a single CPU core, if the total CPU usage goes up to 100%, the packet drops reasonably.

But in my test, the `tx_pps` & `rx_pps` drop drop sharply,

![image](https://user-images.githubusercontent.com/21074047/104284438-f9821900-54ec-11eb-8d29-e5d0b489f187.png)

**Expected behavior/code**

In this scenario, CPU usage is only about

[2021-01-22 03:30] vtran42 opened #276 "Setting up Jumbo Packet mtu 9000 in ONVM"
## Bug Report
Hi all, I am using the bridge example in ONVM to forward a packet. When the sender sends a packet with mtu 1472(1500), ONVM manager can recognize. However, when I increase the packet size to mtu 8972(9000), the ONVM manager did not recognize. My questions is how to setup jumbo packet in ONVM? Thanks

[2021-01-24 03:51] #276 closed

[2021-03-06 14:33] dennisafa commented on #275
Thanks for the bug report. I think that one way to solve this is to increase the RX queue size for the NF's. Since the CPU utilization is high, the NF cannot process the current batch of packets at a high enough rate before the next batch comes in from pktgen. This results in drops since the RX queue is full.

[2021-03-06 14:37] dennisafa commented on #273
Do you need anymore assistance with this? What is your test environment?

[2021-03-06 14:41] JackKuo-tw commented on #273
Nope, thanks.

[2021-03-06 14:41] #273 closed

[2021-03-08 08:06] Edmondxu opened #279 "dpdk-pdump+ONVM"
I used ONVM and PKTGEN on two virtual machines on a server, generated data packets through PKTGEN, and sent them to ONVM. And I want to use dpdk-pdump to capture packets, but the following bug appears.
![onvm1](https://user-images.githubusercontent.com/32925826/110292443-2ef83e00-8028-11eb-8557-eb46248c56df.png)
![onvm2](https://user-images.githubusercontent.com/32925826/110292448-31f32e80-8028-11

[2021-03-08 08:19] Edmondxu commented on #279
Maybe i need to explicitly modify that application to call packet capture framework initialization code.
![2021-03-08 16-17-03屏幕截图](https://user-images.githubusercontent.com/32925826/110293631-ca3de300-8029-11eb-8b62-5d6f340bad5d.png)
But I don’t know where to add the code

[2021-03-08 12:35] Edmondxu commented on #279
Found the location to change the code, it has been resolved

[2021-03-08 12:35] #279 closed

[2021-03-10 03:45] kevindweb commented on #233
Fixed from merge in #272

[2021-03-10 03:45] #233 closed

[2021-03-11 16:08] twood02 commented on #184
resolved by #218

[2021-03-11 16:08] #184 closed

[2021-03-11 16:22] twood02 commented on #60
@stevensse21 is going to try this.

Step 1:
 - [ ] Make a new NF example called `examples/flow_manager` which will change the default service chain rule so that all packets are sent to NF `X` where `X` is a parameter passed on the command line
 - [ ] Then the NF should exit (it doesn't process any packets)

Use the flow_director API to change the service chain rule.

[2021-03-12 06:12] JackKuo-tw commented on #275
@dennisafa I tried to change the value of `NF_MSG_QUEUE_SIZE` from 128 to **65536** in `onvm_mgr/onvm_init.h`, but it seemed nothing happend.

Maybe the flow is still too large, this change can only afford the burst (not test yet)

[2021-03-12 06:13] JackKuo-tw commented on #275
Is there any fundamental way to solve this issue?

[2021-03-12 06:32] dennisafa commented on #275
Thats a different queue size constant - it's for inter-nf messages, not packets. There should be a different constant that is the RX queue size.

[2021-03-15 06:18] JackKuo-tw commented on #275
@dennisafa  Thanks.
It doesn't work for me.
BTW, [`ringsize`](https://github.com/sdnfv/openNetVM/blob/61ce33a4ca6d3d7662bb091bdd8bcfc9a61c792d/onvm/onvm_mgr/onvm_nf.c#L484) is limited to unsigned (4 bytes), but millions of packets per second, does it matter?

[2021-03-23 04:19] JackKuo-tw opened #281 "Duplicated flush in `onvm_pkt_process_rx_batch`"
## Bug Report

**Current Behavior**

The function [`onvm_pkt_process_rx_batch`](https://github.com/sdnfv/openNetVM/blob/ea1180628af279ff925d397277f74717ff2618a2/onvm/onvm_mgr/onvm_pkt.c#L57) calls the following 2 function, and both of them call `onvm_pkt_flush_nf_queue` finally, which could lower the performance.
- [`onvm_pkt_enqueue_nf`](https://github.com/sdnfv/openNetVM/blob/ea1180628af279ff925

[2021-03-23 07:08] JackKuo-tw commented on #281
I have tried solution 1 (comment out [`onvm_pkt_flush_all_nfs`](https://github.com/sdnfv/openNetVM/blob/ea1180628af279ff925d397277f74717ff2618a2/onvm/onvm_mgr/onvm_pkt.c#L96))
The `simple_forward` CPU usage **decreases from 62 to 50%!**

### Env

VNF Chain: fwd -> fwd -> fwd -> firewall
ONVM: enable shared cores
pktgen:   5.7 M pkt/s, UDP, 64 bytes

### Performance

==CPU USage==
- current version

[2021-03-24 07:00] JackKuo-tw commented on #281
You're right, **solution 1** blocks all packets if the buffer count is lower than `PACKET_READ_SIZE` (default 32).

It's a trade-off, for either low latency or high throughput.

AFAIK, the following modification should reach our goal, which uses the **timeout concept**:

1. move `onvm_pkt_flush_all_nfs()` from `onvm_pkt.c` to `main.c`
2. Add delay flush code
    - If only a few packets in, it reac

[2021-03-30 12:45] JackKuo-tw commented on #281
@twood02
Even though the NFs take the same strategy to flush buffer (twice), the CPU usages don't raise.
I examine the batch size of each NF every 100K batch processing time for a few seconds and figure it out.
Here is a sample batch size:

[code]

We can see that at the beginning of the chain, the batch sizes are uneven. And as time goes on, they get much more even.

I think the key reason is the

[2021-04-03 06:59] Balaram6712 commented on #63
Hi there,
Can anyone help me out how I can set up 2 default chains and based on the port which the packet was received I can forward the packet based on the port to the chain.

[2021-04-04 06:29] Balaram6712 commented on #63
Hi,
Is it possible to set up 2 default chains when using 2 ports, forward the packet based on the port on which it arrives to a corresponding default chain? Could you please give some insights on how we can do so?

Thanks

[2021-04-16 03:24] bdevierno1 opened #284 "Linter Cppcheck."
## Bug Report

**Current Behavior**
Current [installation script](https://github.com/sdnfv/openNetVM/blob/master/style/install-linters.sh) for *cppcheck* is failing after update to ubuntu 20.

**Environment**

- OS:  Ubuntu 20

**Possible Solution**

[Update the yaml file to specify ubuntu 20 instead of latest](https://github.com/sdnfv/openNetVM/blob/master/.github/workflows/Linter.yml#L7)
Update

[2021-04-16 22:49] menglander2019 commented on #284
I can take care of this once I get ubuntu-20 or a cloudlab account

[2021-04-29 11:38] Balaram6712 opened #285 "Performance observations when running NF's on local and/or remote NUMA node in a server"
Respected sir,

Please find the following observations and couple of queries on how we can improve the throughput in such cases.

**Experimental setup:**

We run OpenNetVM on a server which is a two-node (NUMA) server with 24 cores (12 cores per each node), 96GB memory, and one dual-port 10G NICs. We use DPDK Pktgen to generate traffic, which runs on another server which has the same configuration

[2021-05-06 08:29] Balaram6712 commented on #285
To add to this,
I further checked the **RX thread** working in the **main.c** file and found out that the packets received at the manager, only **Thread-1** is collection them from both the **ports(0,1)** and then storing them in the **rx_mgr** buffer corresponding to **Thread-1**.  **Thread-0** shows **rx_count** as **zero** while collecting the packet from **ports(0,1)** everytime, this might be

[2021-05-06 14:19] strongcourage opened #286 "Questions about the bridge example"
Hi all,

I'm trying to modify the [bridge example](https://github.com/sdnfv/openNetVM/tree/master/examples/bridge) so that only packets from a given IP address will be sent from port 0 to port 1. Here there are 3 DPDK ports. By running the bridge example, I get the following result:
<img width="888" alt="Screenshot 2021-05-06 at 15 34 22" src="https://user-images.githubusercontent.com/9584484/1173

[2021-05-07 07:18] JackKuo-tw commented on #285
Hi @Balaram6712 ,

I'm an ONVM user as well, the following comments could not be fully correct.

1. Remote node has poor performance

True, remote node doesn't have bound with standalone NIC, **NUMA distance** matters.

This is because DPDK pass-through the kernel and packets arrive LLC directly, in your case is Node-0's LLC.

So when the Node-1 wants to process packets, it must retrieve the packe

[2021-05-07 07:27] JackKuo-tw commented on #285
BTW, I found `rx_thread_main` has race condition in [`rx_count`](https://github.com/sdnfv/openNetVM/blob/61ce33a4ca6d3d7662bb091bdd8bcfc9a61c792d/onvm/onvm_mgr/main.c#L195).

@twood02 is it a bug?

[2021-05-07 07:33] JackKuo-tw commented on #286
What's your expectation & your code modification?

[2021-05-07 07:37] JackKuo-tw commented on #281
I think this is a necessary evil and would not PR this code.

My modification in this issue could be tuned by those who need it.

[2021-05-07 07:37] #281 closed

[2021-05-07 07:38] #275 closed

[2021-05-07 07:59] strongcourage commented on #286
I'd like to implement a simple Load Balancer NF on VM1 that has 3 DPDK ports. The LB will send only packets from source IP1 to VM2, and only packets from source IP2 to VM3. On VM2 and VM3, there are different NFs that process those incoming packets.

<img width="1013" alt="Screenshot 2021-05-07 at 09 57 34" src="https://user-images.githubusercontent.com/9584484/117417497-b70c9e00-af1a-11eb-9809-4b

[2021-05-07 15:39] strongcourage commented on #286
Thanks, Tim. It seems work when I set 2 different types of network adapter (Internal Network for DPDK-NIC2 and NAT Network for DPDK-NIC3) on VM1. If not, packets will be sent from port 0 to both ports 1 and 2.

[2021-05-08 17:41] Balaram6712 commented on #285
@JackKuo-tw Thanks for the reply,

I will get back to you on the `PCM` metrics after i measure them.

Yes for the remote node the performance drops, what I am trying to solve here is that when one NF is moved to remote node it is affecting the performance on the local NF as well.

Yes I observed **rx_drop = 0** in all the cases

I printed  `rx_count` value by adding code [here](https://github.com/

[2021-05-08 22:59] twood02 commented on #285
I can respond to other parts later, but quickly:

This should be an easy change in the [rx_thread for loop](https://github.com/sdnfv/openNetVM/blob/61ce33a4ca6d3d7662bb091bdd8bcfc9a61c792d/onvm/onvm_mgr/main.c#L193). Currently it iterates through all ports and then bursts from a queue based on the RX thread ID number. Instead you could have a for loop for all queues (possibly you only have 1 queue

[2021-05-13 16:19] #286 closed

[2021-06-15 16:52] twood02 opened #293 "Memory leak when sending messages between NFs with full rings"
## Bug Report

**Current Behavior**
If an NF tries to send a message to another NF using the `onvm_nflib_send_msg_to_nf()` function it will allocate memory to store the message and then enqueue the message for the other NF.  If the enqueue fails (because the destination NF's ring is full), then the allocated memory will never be freed.

https://github.com/sdnfv/openNetVM/blob/61ce33a4ca6d3d7662bb0

[2021-06-15 17:29] twood02 commented on #293
@NoahChinitzGWU - this can be a good first issue for you

[2021-06-15 17:35] NoahChinitzGWU commented on #293
@twood02 - will definitely work on this

[2021-06-16 08:22] strongcourage opened #294 "Questions about scaling example"
Hi there,

I have several questions concerning the scaling example. When I rerun the openNetVM manager using the following commands `onvm/go.sh -k 1 -n 0xF8 -s stdout -m 0,1,2`, and run the NF scaling_example `./start_nf.sh scaling_example 1 -d 2 -n 3 -a` with 3 children's using advanced rings interface, tx_drop is 128 at the beginning for all instances. I guess because I have not properly flushed

[2021-06-17 14:08] twood02 commented on #294
The `tx_drop` issue is because each scaler NF tries to create 128 packets at startup and send them to whatever NF you set as the destination in the command line.  If that NF doesn't exist or hasn't fully started, then those packets will be counted as `tx_drop` because they can't be sent out.  If you don't want your scaler NFs to create their own packets (since you are running a generator) you coul

[2021-06-17 14:08] twood02 commented on #294
Let us know if you still have any questions or you can close this issue if that resolves things for you.

[2021-06-17 14:26] strongcourage commented on #294
@twood02 Thank you for detailed answers. For packet generator, I don't know why I can't send the packets using PktGen on openNetVM (actually, it worked on my VMs, but failed on 2 servers with a cable). I count the number of processed packets of NFs with sID 1 via tx_drop as I forward packets to another NF with sID 2 that is not existed.

The pcap files I've used (https://tcpreplay.appneta.com/wiki

[2021-06-17 15:18] strongcourage commented on #294
I've run openNetVM manager on a powerful machine with 44 cores and I've already disabled the flow table lookup. However, I still face the problem of missing packets received by the manager. Please see the figure below when I replay bigFlows.pcap with 1Gbps, the manager RX only received 434295 pkts out of 791616 pkts sent. Do you have any ideas on how to get all packets on the manager? Thanks.

<im

[2021-06-17 18:50] twood02 commented on #294
I think you must not be assigning the manager enough cores after adjusting the RX thread count parameter.  It is trying to use 65535 TX queues which doesn't make sense - I think the unsigned int must have overflowed here: https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_mgr/onvm_init.c#L336

If you increase the ONVM_NUM_RX_THREADS macro you will also need to be sure to start the manager wi

[2021-06-17 20:13] strongcourage commented on #294
Thanks for your answers. I can increase the number of cores used in the manager by modifying the param "-m". For example I've used the following command to run the manager: `onvm/go.sh -k 1 -n 0xFFF -s stdout -m 0,1,2,3,4,5`.

ONVM_NUM_RX_THREADS=1 -> the manager received all packets (rx: 4563536).
<img width="593" alt="Screenshot 2021-06-17 at 22 05 34" src="https://user-images.githubusercontent.

[2021-06-21 12:31] strongcourage commented on #294
Hello again,

I replayed the bigFlows pcap file at 10Gbps. I also print out the number of received packets (dropped packets) of the NIC port. When I just run the manager by itself without any NFs, the manager can get all packets sent from another server on port 0.
<img width="953" alt="Screenshot 2021-06-21 at 14 04 40" src="https://user-images.githubusercontent.com/9584484/122759230-01af6300-d29a

[2021-06-21 14:42] twood02 commented on #294
@strongcourage we will try to repeat this test as closely as we can and try to help.

  - What tool are you using to send the PCAP?
  - Have you disabled the flow lookup like I mentioned above?
  - What are you having the NFs do with each packet? (drop? send out a port? etc)
  - Can you share the command you are running to start the manager?
  - How many cores does your server have? Does it have m

[2021-06-21 15:02] strongcourage commented on #294
@twood02 ,
- We developed a small tool to replay pcap files with different throughput values using DPDK 17.11.4.
- I've already disabled this option (ENABLE_FLOW_LOOKUP=0 in [Makefile](https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_mgr/Makefile#L39)).
- Basically, for each packet, we use DPI techniques to extract attributes/metadata/statistics, then output them to csv files so that anoth

[2021-06-21 15:24] twood02 commented on #294
From CPU layout it looks like the even numbered cores are socket 0 and odd number cores are socket 1. I suggest you try to assign the manager and NF core bitmask to only allow even or odd numbered cores. Also, are these physical cores or do you have hyperthreading enabled? It is best to turn hyperthreads off.

[2021-06-23 04:59] strongcourage commented on #294
Hi Tim,

As I understood, when an RX thread receives a packet from the NIC and I disable the flow table lookup, it sends packets and stores them in the RX queue of NF with service ID 1 which is my NF. Even when I increase the [size of queue for NFs](https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_nflib/onvm_common.h#L71), 20 NFs only process a network traffic 9Gbps with 0 dropped packets

[2021-06-23 20:23] twood02 commented on #294
Have you tried adjusting the size of the MBUF pool? https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_nflib/onvm_common.h#L70

If your NFs are doing significant processing on each packet, then you may be running out of mbufs in the pool causing the RX thread to drop.  Or do you also only see 9Gbps with no loss when your NFs don't do anything?  Are your NFs in either case transmitting the pa

[2021-06-25 13:28] strongcourage commented on #294
@twood02
Thanks for your answer. I've already tried to change the size of NUM_MBUF to 65535, but still had the same result.

If I only forward packets to the destination, it is super fast, 1 NF can handle 20Gbps with no loss (around 5 milion pps). For both cases (with/without packet processing), I always forward packets to next NF, like [this example](https://github.com/sdnfv/openNetVM/blob/master

[2021-07-14 11:18] rudh24 opened #298 "Unable to probe PCI devices within rte_eal_init() on onvm_mgr start"
## Bug Report

**Current Behavior**
The onvm_mgr does not initiate the PCI probe within the `rte_eal_init()`. This ends up reporting 0 eth devices, and subsequently no ports to work with.
I've followed the installation steps listed. The only difference is that I work with Mellanox NICs.

The DPDK helloworld example appears to work. Please see "Additional Context" for the console output.

**Expecte

[2021-07-14 11:29] twood02 commented on #298
Unfortunately we do not have mellanox hardware to test this behavior so this is hard for us to debug.  When you run the DPDK hello world example are you using the version of DPDK included with ONVM, or a more recent update?

[2021-07-14 11:38] rudh24 commented on #298
I use the one included with ONVM.
I understand the hardware unavailability. This machine is also equipped with an intel 10G NIC.(this has been bound to dpdk as well).
If other people haven't encountered this, this might be a platform specific issue
Thank you for your quick response.

[2021-07-19 15:10] strongcourage commented on #294
@twood02
What does PACKET_READ_SIZE mean? Why does `nf_buf->count`have type `uint16_t`?
Code in [onvm_pkt_enqueue_nf()](https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_nflib/onvm_pkt_common.c#L205-L209). Thanks.

[2021-07-20 03:55] JackKuo-tw commented on #294
@strongcourage
In my opinion, `PACKET_READ_SIZE` means the buffer size. So if the buffer reaches `PACKET_READ_SIZE`, it must flush the queue to prevent packet loss.

The manager use `rte_ring_enqueue_bulk()`, this function belongs to DPDK, maybe you can take a look at the official document -- [Ring Library](http://doc.dpdk.org/guides/prog_guide/ring_lib.html).

[2021-07-22 05:54] rudh24 commented on #298
Workaround: Was able to make it work by using an externally installed DPDK. I made sure to include the mellanox pmd in the dpdk config - specifically setting the following in config/common_base

[code]

Can open enhancement to include support for Mellanox. Additionally, since Makefile installation for DPDK is deprecated, and will be removed from 20.11, recommend opening a new enhancement for migra

[2021-07-22 05:54] #298 closed

[2021-07-26 18:26] twood02 commented on #294
![](https://github.trello.services/images/mini-trello-icon.png) [Scaling Example / Performance issue](https://trello.com/c/ZOPLZcgO/20-scaling-example-performance-issue)

[2021-07-29 16:54] NoahChinitzGWU commented on #294
@strongcourage Sorry for the wait, but here are the results of my tests that I ran as close to your comments as possible:

[Scaling_Issue_Response.pdf](https://github.com/sdnfv/openNetVM/files/6902188/Scaling_Issue_Response.pdf)

Please reply here if you have any questions. Thanks!

[2021-07-29 19:18] strongcourage commented on #294
@NoahChinitzGWU
Thanks for your experiments and your document. I think I had the same results when running multiple NF instances that only drop/forward packets at 10Gbps. However, I faced the performance problem as my NF has a complex functionality. I'm still trying to find a solution for this problem, as we've already developed a scaled version of our monitoring tool (with the same functionality

[2021-07-29 21:34] NoahChinitzGWU commented on #294
@strongcourage Ok. I will run tests with more complicated functionality and get back to you.

[2021-07-30 17:07] NoahChinitzGWU commented on #294
@strongcourage Can you be more specific about what exactly your scaled NF is doing, I am trying to recreate your issue as closely as possible.

[2021-08-13 07:52] strongcourage commented on #294
@NoahChinitzGWU sorry for the late reply, thanks for your suggestion, but our tool is currently closed-source, so I think I can't send you the code.

Basically, our NF uses Deep Packet Inspection technique to process each incoming packet (e.g., extract header, get information about session), then sends stats or alerts in CSV format to a Web app. Actually, I invoked our own function [packet_handler

[2021-08-22 06:35] Balaram6712 commented on #285
@twood02 is it possible to have 2 queues so that they can be mapped to corresponding 2 ports when running OpenNetVM?

After the changes u suggested on assigning **RX** thread to a port i observe full throughput in local node and remote node max(6.5 Gbps each), but there is problem when running one NF in local and other in remote node,  the local NF throughput is getting effected. For example when

[2021-08-23 00:05] twood02 commented on #285
I want to be sure I fully understand your setup now. Is this all accurate?

1. 2 RX threads, one per port.
2. Each RX thread is on a different NUMA node
3. Incoming traffic rate is 9Gbps per port (18 total)
4. This gives 7Gbps on the local NF and 9gbps on the remote NF

What exactly do you mean by local/remote here? You should be having each NF get packets from its "local" RX thread (i.e., the one

[2021-08-23 02:50] Balaram6712 commented on #285
@twood02

Yes

The 2 ports are connected to local NUMA node.

Yes

local NF gives 7Gbps and remote NF gives 6.5Gbps

Our setup is such that we have 2 NUMA nodes, OpenNetVM manager is run on local node connected to 2 ports. The NF is either placed in local NUMA node or remote NUMA node.

Have a look at the detailed setup explanation as stated before.

Thank you!!

[2021-08-23 14:14] twood02 commented on #285
@Balaram6712 Thanks for the clarification.

When you say:

I assume you mean that the main ONVM manager and first RX thread are started on the local node, but that there is also a manager RX thread running on the remote node.

Are your NFs sending the packets back out or dropping them after doing some processing?  The bottleneck could be the TX thread(s) if you are having the NFs send out the port

[2021-08-23 17:35] Balaram6712 commented on #285
@twood02

No ONVM Manager and 2RX threads are run in local node. The 2 RX threads collect the packets correspondingly from the 2 ports, the RX thread which corresponds to the NF in remote node collects packets and sends to NF.  The overhead of packet from local to remote which causes to produce less throughput when NF when placed in remote node but this should not effect local NF throughput.

I am

[2021-08-25 00:42] twood02 commented on #284
I suggest we make two changes for this.

First, instead of using `runs-on: ubuntu-latest`, we should force it to use `ubuntu-20.04`. This won't actually fix the current issue (since ubuntu-latest == ubuntu-20.04 which is causing the whole problem), but it will ensure that we have a consistent environment and doesn't automatically change just because GitHub adds support for a newer version of Ubunt

[2021-09-03 18:33] twood02 opened #309 "Simple Skeleton"
## Feature Request

Make a simple sample NF in `examples/skeleton` to use as a base for creating other NFs.

**Describe the solution you'd like**
This could be based on a simple NF like `examples/simple_fwd`.

Should include documentation from NF Development guide (on read the docs site)

[2021-09-03 18:50] twood02 opened #310 "Display packet drop stats"
## Feature Request
We should display statistics about how many packets are dropped by the NIC before they reach the manager.

We can get the stats here: https://doc.dpdk.org/api/structrte__event__eth__rx__adapter__stats.html#a7c2f568a81a574e072c66a0246044d56

This should be displayed as part of the manager's stats thread loop:
https://github.com/sdnfv/openNetVM/blob/master/onvm/onvm_mgr/onvm_stats

[2021-09-10 16:24] strongcourage commented on #310
Hi, I made this pull request https://github.com/sdnfv/openNetVM/pull/311. Thanks.

[2021-11-03 21:12] twood02 opened #314 "speed tester can crash if given a pcap with jumbo frames"
## Bug Report

**Current Behavior**
If you forget to start the manager with jumbo frame support (`-j`), then speed tester will crash if you tell it to load a PCAP trace that contains jumbo frames.

**Expected behavior/code**
Rather than segfault, we should report an error if the size of a packet is larger than the mbuf size.

**Steps to reproduce**
Start the manager as normal, run speed tester wit

[2021-11-03 21:30] Lhahn01 commented on #314
One example of a pcap file that can be used for testing is: [web.pcap.zip](https://github.com/sdnfv/openNetVM/files/7470732/web.pcap.zip) (Sorry, I had to compress it into a .zip as it won't accept .pcap)

Or, you can use this link: https://github.com/Lhahn01/openNetVM/blob/perf_mon/examples/speed_tester/pcap/web.pcap

To actually see what is in the pcap file, the following command will allow you

[2021-11-19 19:47] twood02 commented on #293
resolved by #296

[2021-11-19 19:47] #293 closed

[2021-11-19 19:47] twood02 commented on #284
resolved by #306

[2021-11-19 19:47] #284 closed

[2022-01-28 21:16] #222 closed

[2022-02-23 03:04] xt1234567 opened #320 "I have a question: If I want to deploy vnf on different machines, does OpenNetVM support this method? If so how can I connect them through IP address？"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2022-02-23 14:25] twood02 commented on #320
OpenNetVM does not provide a control plane that can route packets to specific NFs if they are running on different machines.  In the simplest case, ONVM can be installed on a middlebox server that is connected "in line" with cables between the source and destination traffic.  See this tutorial for an example: https://opennetvm-readthedocs.readthedocs.io/en/docs/threenodetutorial/index.html

Anothe

[2022-03-28 15:43] catherinemeadows commented on #250
This issue was resolved with PR [321](https://github.com/sdnfv/openNetVM/pull/321)

[2022-03-28 15:43] #250 closed

[2022-05-08 17:17] dennisafa opened #324 "Install guide/script references igb_uio as the only usable network driver for DPDK ports"
Our install guide should be adjusted to include `vfio-pci` and `uio_pci_generic` as usable kernel modules, as noted [here](https://doc.dpdk.org/guides/linux_gsg/linux_drivers.html).
We should also modify our [check](https://github.com/sdnfv/openNetVM/blob/master/docs/Install.md#check-system) step (`locate uio`) to include `vfio-pci`.
The environment setup script should also be adjusted to use the

[2022-05-08 17:27] #181 closed

[2022-05-11 02:56] catherinemeadows commented on #324
Working on this now, will make a PR soon.

[2022-08-08 18:54] andreaseno opened #331 "arp nf and load balancer tutorial"
## Bug Report

**Current Behavior**
sometimes the tutorial does not work because the arp nf is not responding. The commands in the document are incorrect if the client side is port 1 and the server side is port 0.  Iperf reports the error: "connect failed: Operation now in progress"

**Expected behavior/code**
2 options:
1) either the arp nf should work correctly regardless of order of the ips
2)

[2022-11-14 09:12] ztz1989 opened #332 "Support for Arm64"
Dear experts of openNetVM,

I have an Nvidia Bluefield DPU with Arm64 architecture. It runs Ubuntu 20.04.

I would like to deploy openNetVM on this device, do you provide support for Arm architecture?

Thanks & regards

[2022-11-17 15:11] twood02 commented on #332
We have not attempted to run OpenNetVM on arm64 recently. Previously (~3 years ago) we were able to compile and run the manager and sample NFs on arm64, but at the time the ARM drivers for mellanox cards did not support DPDK, so it could not be used to process real traffic. This may have changed by now. If you are able to test it, please let us know here if it works!

I don't think there should be

[2022-11-17 17:55] kkrama commented on #332
My student has tested Mellanox/nVidia Bluefield's support for DPDK. He is
examining compatibility with OpenNetVM.
I have cc'd him here.
 K. K. Ramakrishnan

On Thu, Nov 17, 2022 at 7:11 AM Tim Wood ***@***.***> wrote:

--
K. K. Ramakrishnan

[2022-11-18 23:31] ShixiongQi commented on #332
I have tested OpenNetVM (commit 20e0150) on NVIDIA Bluefield-2 and get it successfully run. There are several changes you need to make before getting the OpenNetVM work on Bluefield-2 (see the patch below).

Another change you need to make during the installation of OpenNetVM is to change the RTE_TARGET to `arm64-bluefield-linuxapp-gcc`. You can use the command below to enable this change.
[code]

[2022-11-19 09:48] ztz1989 commented on #332
Dear all, I confirm that by following the changes of @ShixiongQi, openNetVM also works on my Bluefield DPU. Thanks for the support. I'll close this thread.

[2022-11-19 09:48] #332 closed, assigned to nobody